<!DOCTYPE html>
<html lang="en" style="/*transform: perspective(0px) scale(1);*//*background: linear-gradient(170deg, #001122, #011c2e 14%, #003346 28%, #004b5b 40%, #00646c 49%, #077e76 65%, #36977c 75%, #63b07e 88%, #7bbc7e);*//*transform-style: preserve-3d;*//*box-shadow: 0px 0px;*/transform: perspective(0px) scale(1);background: linear-gradient(144deg, #001122, #011c2e 19%, #003346 31%, #004b5b 40%, #00646c 53%, #077e76 65%, #36977c 75%, #63b07e 88%, #7bbc7e) fixed;transform-style: preserve-3d;box-shadow: 0px 0px;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>RePsychle - Bootstrap Studio - Alt</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,700">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="assets/css/Account-setting-or-edit-profile.css">
    <link rel="stylesheet" href="assets/css/Black-Navbar.css">
    <link rel="stylesheet" href="assets/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/Custom-Checkbox.css">
    <link rel="stylesheet" href="assets/css/Dark-NavBar-1.css">
    <link rel="stylesheet" href="assets/css/Dark-NavBar-2.css">
    <link rel="stylesheet" href="assets/css/Dark-NavBar.css">
    <link rel="stylesheet" href="assets/css/dh-card-image-left-dark.css">
    <link rel="stylesheet" href="assets/css/Features-Boxed.css">
    <link rel="stylesheet" href="assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Search.css">
    <link rel="stylesheet" href="assets/css/Pretty-Search-Form.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/Team-Grid.css">
</head>

<body class="text-center background-attachment: fixed;" style="/*transform: perspective(0px) scale(1);*//*background: linear-gradient(170deg, #001122, #011c2e 14%, #003346 28%, #004b5b 40%, #00646c 49%, #077e76 65%, #36977c 75%, #63b07e 88%, #7bbc7e);*//*transform-style: preserve-3d;*//*box-shadow: 0px 0px;*/transform: perspective(0px) scale(1);background: repeating-linear-gradient(180deg, #001122, #011c2e 7%, #003346 21%, #004b5b 40%, #00646c 49%, #077e76 65%, #36977c 75%, #63b07e 88%, #7bbc7e) fixed;transform-style: preserve-3d;box-shadow: 0px 0px;height: 100%;text-align: center;">
<div></div>
<header style="font-size: 32px;padding-bottom: 50px;">
    <nav class="navbar navbar-light navbar-expand-md sticky-top navigation-clean-button fixed;" style="height: auto;color: #ffffff;background: #001122;">
        <div class="container-fluid">
            <div class="collapse navbar-collapse justify-content-center" id="navcol-1">
                <h1 style="font-size: 18px;color: white;width: auto;text-align: center;"><strong>RePsychle is currently in development. Please provide your feedback to </strong><a href="mailto:repsychle@wkirschn.ca" style="font-size: 18px;width: auto;text-align: center;">repsychle@wkirschn.ca</a></h1>
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-light navbar-expand-md sticky-top navigation-clean-button fixed; fixed-top; logged-out;" style="height: auto;color: #ffffff;background: rgb(40,45,50);border-style: none;border-color: #66d7d7;border-bottom-style: none;padding-top: 0px;padding-bottom: 0px;width: auto;">
        <div class="container-fluid"><a class="navbar-brand justify-content-center" data-bs-toggle="tooltip" data-bss-tooltip="" href="#" style="margin: 30px;height: auto;width: auto;transform: perspective(0px) rotate(0deg) scale(0.88) skew(0deg);transform-origin: center;">&nbsp;<img class="justify-content-center rounded-3" src="/assets/img/repsychle_logo%201%20shadow.png" style="text-align: center;/*transform: perspective(0px) scale(1);*//*transform-style: preserve-3d;*/transform: perspective(0px) scale(1);transform-style: preserve-3d;padding: 10px;margin: auto;margin-right: auto;padding-top: 10px;margin-top: auto;margin-bottom: auto;margin-left: auto;height: auto;width: 160px;" href="http://www.repsychle.org"></a><button data-bs-toggle="collapse" class="navbar-toggler navbar-dark" data-bs-target="#navcol-2" style="margin: auto;"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon" style="box-shadow: 0px 0px;"></span></button>
            <div class="collapse navbar-collapse text-center justify-content-center rounded-3" id="navcol-2" style="text-align: center;/*transform: perspective(0px) scale(1);*//*background: linear-gradient(170deg, #001122, #011c2e 14%, #003346 28%, #004b5b 40%, #00646c 49%, #077e76 65%, #36977c 75%, #63b07e 88%, #7bbc7e);*//*transform-style: preserve-3d;*//*box-shadow: 0px 0px;*/transform: perspective(0px) scale(1);background: linear-gradient(145deg, #7bbc7e 44%, #36977c 56%, #63b07e 71%, #077e76 79%, #00646c 96%) fixed;transform-style: preserve-3d;box-shadow: 10px -3px 20px 3px #545454;height: auto;width: auto;margin-right: 25px;"><a class="nav-link nav-pills rounded-pill justify-content-center" style="color: #ffffff;margin: 15px;padding: 8px 25px 8px 16px;padding-right: 25px;width: auto;font-size: 14px;padding-left: 25px;" href="http://www.repsychle.org/repsychle_blog" target="_top"><i class="fa fa-newspaper-o"></i>&nbsp;Blog</a><a class="nav-link nav-pills rounded-pill justify-content-center" style="color: #ffffff;margin: 15px;padding: 8px 25px 8px 16px;padding-right: 25px;width: auto;font-size: 14px;padding-left: 25px;" href="http://www.repsychle.org/about" target="_top"><i class="fa fa-exclamation-circle"></i>&nbsp;More Info</a><a class="nav-link nav-pills rounded-pill justify-content-center modal-trigger" style="color: #ffffff;margin: 15px;padding: 8px 25px 8px 16px;padding-right: 25px;width: auto;font-size: 14px;padding-left: 25px;" href="http://www.repsychle.org/login" target="_top" data-target="modal-login"><i class="fa fa-sign-in"></i>&nbsp;Login</a><a class="nav-link nav-pills rounded-pill justify-content-center" style="color: #ffffff;margin: 15px;padding: 8px 25px 8px 16px;padding-right: 25px;width: auto;font-size: 14px;padding-left: 25px;" href="http://www.repsychle.org/register" target="_top"><i class="fas fa-clipboard-check"></i>&nbsp;Register</a>
                <form class="text-center mr-md-2" style="padding: 0px;margin: auto;margin-left: auto;margin-top: auto;margin-right: auto;margin-bottom: auto;text-align: center;"><input class="form-control mr-md-2" type="search" style="margin: 15px;padding-right: 0px;padding-left: 0px;height: 25px;" placeholder="Search" aria-label="Search"></form>
                <div class="btn-group" style="padding-top: 10px;padding-right: 10px;padding-bottom: 10px;padding-left: 10px;margin: auto;margin-top: auto;margin-right: auto;margin-bottom: auto;margin-left: auto;"><a id="navbarSearch-2" class="btn btn-primary dropdown-toggle doprdown-toggle-split rounded-pill justify-content-center" href="#" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 14px;padding-right: 10px;padding-bottom: 0px;padding-top: 0px;padding-left: 10px;background: #545454;border-style: none;">Search Database<span class="visually-hidden" content="">Button Group</span></a>
                    <ul class="dropdown-menu" aria-labelledby="navbarSearch">
                        <li class="dropdown-item" href="#">Recycling</li>
                        <li class="dropdown-item" href="#">Garbage</li>
                        <li class="dropdown-item" href="#">Compost</li>
                        <li class="dropdown-item" href="#">Hazardous</li>
                    </ul>
                </div><a class="nav-link nav-pills rounded-pill justify-content-right" style="color: #ffffff;margin: 15px;padding: 8px 25px 8px 16px;padding-right: 25px;width: auto;font-size: 14px;padding-left: 25px;" href="http://www.repsychle.org/account" target="_top"><i class="far fa-user-circle"></i>&nbsp;Account</a>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container text-center" style="background: rgba(123,188,126,0.2);margin-top: 50px;margin-bottom: 50px;">
    <div class="row text-center justify-content-center align-items-center" style="margin: 20px;padding: 20px;margin-bottom: 20px;margin-top: 20px;margin-right: 20px;margin-left: 20px;padding-top: 20px;padding-right: 20px;" onclick="return true">
        <div class="col" style="background: rgba(40,45,50,0.2);padding-top: 12px;padding-right: 12px;padding-bottom: 12px;padding-left: 12px;"><i class="fas fa-truck-moving icon" style="box-shadow: 0px 0px;color: #7BBC7E;height: 75px;width: 75px;margin-bottom: 16px;border-color: #545454;font-size: 75px;text-align: center;"></i>
            <div>
                <h1 style="color: white;font-size: 28px;text-align: center;">301 - Moved Permanently</h1><img src="assets/img/repsychle_logo%201%20shadow.png" style="width: 350px;padding-top: 25px;padding-bottom: 25px;">
                <div>
                    <h1 style="color: white;font-size: 28px;text-align: center;margin: 50px;">We did tell you that this was a beta... <em>right?!?</em><br><br>Please use our Header or Footer to navigate our site directory to find the object or web page that you are looking for.<br><br>If you are trying to access an object, then it may have been moved or deleted. If you need assistance with finding&nbsp; please use our <em>Contact Us</em>&nbsp;form or email us at <em>wyatt.kirschner@mygeorgian.ca</em>.<br><br>Here is something a little more pleasant to look at!&nbsp;</h1>
                </div>
            </div><img src="assets/img/georgian%20about.png" style="padding: 25px;padding-right: 25px;min-height: 7px;height: 100%;width: 50%;margin: 0px;margin-bottom: 0px;padding-bottom: 25px;padding-left: 25px;text-align: center;padding-top: 25px;">
            <h1 style="color: white;font-size: 28px;text-align: center;margin: 50px;">Placeholder - Error Code</h1>
        </div>
    </div>
</div>
<div class="row" style="text-align: center;background: rgba(40,45,50,0.8);padding: 5px;padding-top: 5px;">
    <div class="col-md-12" style="padding: 25px;padding-top: 25px;text-align: center;"><i class="fas fa-recycle text-center icon" style="box-shadow: 0px 0px;color: #7bbc7e;width: 75px;height: 75px;font-size: 78px;text-align: center;"></i>
        <div class="box rounded-3" style="text-align: center;/*transform: perspective(0px) scale(1);*//*transform-style: preserve-3d;*//*box-shadow: 0px 0px;*/transform: perspective(0px) scale(1);transform-style: preserve-3d;box-shadow: 0px 0px;height: 100%;width: 100%;padding: 25px;margin: 0 auto;">
            <h1 class="name" style="color: white;font-size: 32px;">Join our Email List</h1><img src="assets/img/repsychle_logo%201%20shadow.png" style="width: 150px;padding-top: 25px;padding-bottom: 25px;">
            <p class="description" style="color: white;font-size: 24px;">To learn more about the RePsychling Revolution, join our Newsletter!<br></p>
            <form class="search-form justify-content-center form-group form-horizontal" style="text-align: center;margin: auto;padding: 0px;height: auto;width: 50%;background: #00000000;margin-bottom: 25px;">
                <div class="input-group" style="width: 100%;text-align: center;height: auto;margin: auto;"><span class="input-group-text"><i class="fa fa-envelope-o"></i></span><input class="form-control" type="text" placeholder="Subscribe to our Newsletter" style="margin-bottom: 0px;"></div>
            </form><button class="btn btn-light" type="button">Subscribe</button>
        </div>
    </div>
</div>
<footer class="footer-dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3 item" style="text-align: left;">
                <h3 style="color: #7bbc7e;">RePsychle Database</h3>
                <ul>
                    <li><a href="#">Garbage</a></li>
                    <li><a href="#">Recycling</a></li>
                    <li><a href="#">Compost</a></li>
                    <li><a href="#">Hazardous</a></li>
                    <li><a href="#">All</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3 item" style="text-align: left;">
                <h3 style="color: #7bbc7e;">About</h3>
                <ul>
                    <li><a href="#">About RePsychle</a></li>
                    <li><a href="#">Frequently Asked Questions</a></li>
                    <li><a href="#">Register</a></li>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">My Account</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-md-6 item text">
                <h3 style="text-align: left;"><img src="assets/img/repsychle_logo%201%20shadow.png" style="width: 200px;"></h3>
                <p style="text-align: left; font-size: 14px">RePsychle is not responsible for any information placed into this website. During this Beta, we are testing various features and how to create a better experience that will reflect our vision. If you have any comments or concerns, please use our <em>Contact Us</em>&nbsp;page.<br></p>
            </div>
            <div class="col item social"><a href="http://www.facebook.com/wyattkirschneronline"><i class="icon ion-social-facebook"></i></a><a href="http://www.twitter.com"><i class="icon ion-social-twitter"></i></a><a href="mailto:wyatt.kirschner@mygeorgian.com"><i class="icon ion-email"></i></a><a href="http://www.instagram.com"><i class="icon ion-social-instagram"></i></a></div>
        </div>
        <p class="copyright">Wyatt Kirschner © 2022 - 200407722 - COMP3024</p>
    </div>
</footer>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/bs-init.js"></script>
</body>

</html>