<!DOCTYPE html>
<html lang="en" style="/*transform: perspective(0px) scale(1);*//*background: linear-gradient(170deg, #001122, #011c2e 14%, #003346 28%, #004b5b 40%, #00646c 49%, #077e76 65%, #36977c 75%, #63b07e 88%, #7bbc7e);*//*transform-style: preserve-3d;*//*box-shadow: 0px 0px;*/transform: perspective(0px) scale(1);background: linear-gradient(144deg, #001122, #011c2e 19%, #003346 31%, #004b5b 40%, #00646c 53%, #077e76 65%, #36977c 75%, #63b07e 88%, #7bbc7e) fixed;transform-style: preserve-3d;box-shadow: 0px 0px;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>RePsychle - Bootstrap Studio - Alt</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,700">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="assets/css/Account-setting-or-edit-profile.css">
    <link rel="stylesheet" href="assets/css/Black-Navbar.css">
    <link rel="stylesheet" href="assets/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/Custom-Checkbox.css">
    <link rel="stylesheet" href="assets/css/Dark-NavBar-1.css">
    <link rel="stylesheet" href="assets/css/Dark-NavBar-2.css">
    <link rel="stylesheet" href="assets/css/Dark-NavBar.css">
    <link rel="stylesheet" href="assets/css/dh-card-image-left-dark.css">
    <link rel="stylesheet" href="assets/css/Features-Boxed.css">
    <link rel="stylesheet" href="assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Search.css">
    <link rel="stylesheet" href="assets/css/Pretty-Search-Form.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/Team-Grid.css">
</head>

<body class="background-attachment: fixed;" style="/*transform: perspective(0px) scale(1);*//*background: linear-gradient(170deg, #001122, #011c2e 14%, #003346 28%, #004b5b 40%, #00646c 49%, #077e76 65%, #36977c 75%, #63b07e 88%, #7bbc7e);*//*transform-style: preserve-3d;*//*box-shadow: 0px 0px;*/transform: perspective(0px) scale(1);background: repeating-linear-gradient(180deg, #001122, #011c2e 7%, #003346 21%, #004b5b 40%, #00646c 49%, #077e76 65%, #36977c 75%, #63b07e 88%, #7bbc7e) fixed;transform-style: preserve-3d;box-shadow: 0px 0px;height: 100%;">
    <div></div>
    <header style="font-size: 32px;padding-bottom: 50px;">
        <nav class="navbar navbar-light navbar-expand-md sticky-top navigation-clean-button fixed;" style="height: auto;color: #ffffff;background: #001122;">
            <div class="container-fluid">
                <div class="collapse navbar-collapse justify-content-center" id="navcol-1">
                    <h1 style="font-size: 18px;color: white;width: auto;text-align: center;"><strong>RePsychle is currently in development. Please provide your feedback to </strong><a href="mailto:wyattkirschneronline@gmail.com"><strong>repsychle.beta@wkirschn.ca</strong></a></h1>
                </div>
            </div>
        </nav>
        <nav class="navbar navbar-light navbar-expand-md sticky-top navigation-clean-button fixed; fixed-top;" style="height: 100px;color: #ffffff;background: rgba(255,255,255,0);border-color: #66d7d7;border-bottom-style: none;">
            <div class="container-fluid"><a class="navbar-brand justify-content-center" data-bs-toggle="tooltip" data-bss-tooltip="" href="#" style="margin: 30px;height: 100%;width: 122px;transform: perspective(0px) rotate(0deg) scale(0.88) skew(0deg);transform-origin: center;">&nbsp;<img class="justify-content-center rounded-3" src="assets/img/repsychle_logo%201%20shadow.png" style="width: 160px;height: auto;text-align: center;/*transform: perspective(0px) scale(1);*//*transform-style: preserve-3d;*/transform: perspective(0px) scale(1);transform-style: preserve-3d;height: 100%;padding: 10px;margin-right: 100px;"></a><button data-bs-toggle="collapse" class="navbar-toggler navbar-dark" data-bs-target="#navcol-3"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon" style="box-shadow: 0px 0px;"></span></button>
                <div class="collapse navbar-collapse justify-content-center rounded-3" id="navcol-3" style="text-align: center;/*transform: perspective(0px) scale(1);*//*background: linear-gradient(170deg, #001122, #011c2e 14%, #003346 28%, #004b5b 40%, #00646c 49%, #077e76 65%, #36977c 75%, #63b07e 88%, #7bbc7e);*//*transform-style: preserve-3d;*//*box-shadow: 0px 0px;*/transform: perspective(0px) scale(1);background: linear-gradient(145deg, #7bbc7e 44%, #36977c 56%, #63b07e 71%, #077e76 79%, #00646c 96%) fixed;transform-style: preserve-3d;box-shadow: 0px 0px;height: 100%;"><a class="nav-link nav-pills rounded-pill justify-content-center" style="color: #ffffff;margin: 15px;padding-right: 25px;width: auto;font-size: 14px;" href="#"><i class="fa fa-newspaper-o"></i>&nbsp;Blog</a><input type="search" style="margin: 15px;padding-right: 50px;padding-left: 50px;height: 25px;">
                    <div class="btn-group" style="padding-top: 10px;padding-right: 10px;padding-bottom: 10px;padding-left: 10px;"><a id="navbarSearch-1" class="btn btn-primary dropdown-toggle doprdown-toggle-split rounded-pill justify-content-center" href="#" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 14px;padding-right: 10px;padding-bottom: 0px;padding-top: 0px;padding-left: 10px;">Search Database<span class="visually-hidden" content="">Button Group</span></a>
                        <ul class="dropdown-menu" aria-labelledby="navbarSearch">
                            <li class="dropdown-item" href="#">Recycling</li>
                            <li class="dropdown-item" href="#">Garbage</li>
                            <li class="dropdown-item" href="#">Compost</li>
                            <li class="dropdown-item" href="#">Hazardous</li>
                        </ul>
                    </div>
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link active nav-pills rounded-pill justify-content-center" style="color: #ffffff;font-size: 14px;" href="#"><i class="fa fa-home"></i>&nbsp;Home</a></li>
                        <li class="nav-item"><a class="nav-link active" style="color: #ffffff;font-size: 14px;" href="#"><i class="fa fa-sign-in"></i>&nbsp;Sign In</a></li>
                        <li class="nav-item"><a class="nav-link active" style="color: #ffffff;font-size: 14px;" href="about-export.html"><i class="fa fa-star-o"></i>&nbsp;About</a></li>
                        <li class="nav-item"><a class="nav-link active" style="color: #ffffff;font-size: 12px;" href="#"><i class="fa fa-user-circle-o"></i>&nbsp;Sign-Up</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container" style="background: rgba(123,188,126,0.2);">
        <div class="row" style="text-align: center;background: rgba(123,188,126,0.5);">
            <div class="col-md-8" style="margin: 0px;margin-top: 5px;padding: 50px;height: 50%;text-align: center;">
                <div class="box rounded-3" style="text-align: center;/*transform: perspective(0px) scale(1);*//*transform-style: preserve-3d;*//*box-shadow: 0px 0px;*/transform: perspective(0px) scale(1);transform-style: preserve-3d;box-shadow: 0px 0px;height: 100%;width: 100%;padding: 50px;background: rgba(40,45,50,0.2);"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-question-diamond icon" style="box-shadow: 0px 0px;color: #7BBC7E;font-size: 75px;width: 75px;height: 75px;margin-bottom: 50px;">
                        <path d="M6.95.435c.58-.58 1.52-.58 2.1 0l6.515 6.516c.58.58.58 1.519 0 2.098L9.05 15.565c-.58.58-1.519.58-2.098 0L.435 9.05a1.482 1.482 0 0 1 0-2.098L6.95.435zm1.4.7a.495.495 0 0 0-.7 0L1.134 7.65a.495.495 0 0 0 0 .7l6.516 6.516a.495.495 0 0 0 .7 0l6.516-6.516a.495.495 0 0 0 0-.7L8.35 1.134z"></path>
                        <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"></path>
                    </svg>
                    <h1 class="name" style="color: white;font-size: 28px;text-align: center;">Frequently Asked Questions</h1>
                    <p class="description" style="color: white;font-size: 24px;text-align: center;">We are sure that you have plenty of questions about how RePsychle works, who we are, and how your data is used.<br><br>While RePsychle is being built out, please have patience as we will update this page as needed. If you feel that there are some questions that aren't being stated here and you would like some answers to; please visit our <em>Contact Us</em>&nbsp;page or <em>click here.</em></p>
                </div>
            </div>
            <div class="col-md-4" style="margin-top: 40px;text-align: center;margin-bottom: 40px;padding: 12px;"><img src="assets/img/faq%20side%20new.webp" style="padding: 25px;padding-right: 25px;min-height: 7px;height: 100%;width: 100%;margin: 0px;margin-bottom: 0px;padding-bottom: 25px;padding-left: 25px;text-align: center;padding-top: 25px;background: rgba(40,45,50,0.2);"></div>
        </div>
    </div>
    <div class="container text-center" style="background: rgba(123,188,126,0.2);margin-top: 50px;margin-bottom: 50px;">
        <div class="row text-center justify-content-center align-items-center" style="margin: 20px;padding: 20px;margin-bottom: 20px;margin-top: 20px;margin-right: 20px;margin-left: 20px;padding-top: 20px;padding-right: 20px;" onclick="return true">
            <div class="col" style="background: rgba(40,45,50,0.2);padding-top: 12px;padding-right: 12px;padding-bottom: 12px;padding-left: 12px;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-question-diamond icon" style="box-shadow: 0px 0px;color: #7BBC7E;height: 75px;width: 75px;margin-bottom: 16px;border-color: #545454;font-size: 75px;text-align: center;">
                    <path d="M6.95.435c.58-.58 1.52-.58 2.1 0l6.515 6.516c.58.58.58 1.519 0 2.098L9.05 15.565c-.58.58-1.519.58-2.098 0L.435 9.05a1.482 1.482 0 0 1 0-2.098L6.95.435zm1.4.7a.495.495 0 0 0-.7 0L1.134 7.65a.495.495 0 0 0 0 .7l6.516 6.516a.495.495 0 0 0 .7 0l6.516-6.516a.495.495 0 0 0 0-.7L8.35 1.134z"></path>
                    <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"></path>
                </svg>
                <div>
                    <h1 style="color: white;font-size: 28px;text-align: center;">Frequently Asked Questions</h1><img src="assets/img/repsychle_logo%201%20shadow.png" style="width: 350px;padding-top: 25px;padding-bottom: 25px;">
                    <div>
                        <h1 style="color: white;font-size: 28px;text-align: left;margin: 50px;">Frequently Asked Questions</h1>
                        <div class="accordion accordion-flush" role="tablist" id="accordion-2" style="text-align: left;margin: 50px;">
                            <div class="accordion-item">
                                <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-2 .item-1" aria-expanded="false" aria-controls="accordion-2 .item-1">What is RePsychle?</button></h2>
                                <div class="accordion-collapse collapse item-1" role="tabpanel" data-bs-parent="#accordion-2">
                                    <div class="accordion-body">
                                        <p class="mb-0">RePsychle is a website that was created to help you learn how to recycle better by searching in our RePsychle Database for the best way to recycle an object. We offer a range of features in our database by having users create an account, create an entry, and tag where their database applies regionally.<br><br>Our Newsletter also delivers tips to users on how to properly recycle and statistics of the database to help expand the services to build a community.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-2 .item-2" aria-expanded="false" aria-controls="accordion-2 .item-2">Is RePsychle free-to-use?</button></h2>
                                <div class="accordion-collapse collapse item-2" role="tabpanel" data-bs-parent="#accordion-2">
                                    <div class="accordion-body">
                                        <p class="mb-0">RePsychle is a free-to-use website that is committed to creating various tools that allow users to make better choices when it comes to recycling.<br><br>During this beta, there are no plans to implement a tiered system or a way to make a purchase.<br><br>We will provide proper communication once RePsychle is tailored and more stable than the state that it's currently in.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-2 .item-3" aria-expanded="false" aria-controls="accordion-2 .item-3">What are my rights to the data that I provide to RePsychle?</button></h2>
                                <div class="accordion-collapse collapse item-3" role="tabpanel" data-bs-parent="#accordion-2">
                                    <div class="accordion-body">
                                        <p class="mb-0">During the current beta, it's important to recognize that the foundations of this website may change based on the development of our services.<br><br>Any information that you share with RePsychle does not belong to the website.<br><br>This information includes the following:<br>&nbsp;· Your Full Name<br>&nbsp;· Your Email Address<br>&nbsp;· Your Password<br>&nbsp;· Any Data Entered into a Database Entry<br>&nbsp;· Any Images Uploaded to a Database Entry<br>&nbsp;· Any Images Uploaded to Your Profile<br><br>Please be aware that this is <em>Not Legally Binding.</em><br></p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-2 .item-4" aria-expanded="false" aria-controls="accordion-2 .item-4">How do I get started?</button></h2>
                                <div class="accordion-collapse collapse item-4" role="tabpanel" data-bs-parent="#accordion-2">
                                    <div class="accordion-body">
                                        <p class="mb-0">You can create an Account by clicking on the&nbsp;<em>Sign-Up</em>&nbsp;button at the top of the website.<br><br>If you are currently signed in, you will not have this option since you already have an account.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-2 .item-5" aria-expanded="false" aria-controls="accordion-2 .item-5">How do I close my account?</button></h2>
                                <div class="accordion-collapse collapse item-5" role="tabpanel" data-bs-parent="#accordion-2">
                                    <div class="accordion-body">
                                        <p class="mb-0">Please click on the <em>Profile</em>&nbsp;icon at the top of the page, go to <em>Settings</em>, and follow the instructions on the <em>Delete Account</em>&nbsp;tab.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="text-align: center;background: rgba(40,45,50,0.8);padding: 5px;padding-top: 5px;">
        <div class="col-md-12" style="padding: 25px;padding-top: 25px;text-align: center;"><i class="fas fa-recycle text-center icon" style="box-shadow: 0px 0px;color: #7bbc7e;width: 75px;height: 75px;font-size: 78px;text-align: center;"></i>
            <div class="box rounded-3" style="text-align: center;/*transform: perspective(0px) scale(1);*//*transform-style: preserve-3d;*//*box-shadow: 0px 0px;*/transform: perspective(0px) scale(1);transform-style: preserve-3d;box-shadow: 0px 0px;height: 100%;width: 100%;padding: 25px;margin: 0 auto;">
                <h1 class="name" style="color: white;font-size: 32px;">Join our Email List</h1><img src="assets/img/repsychle_logo%201%20shadow.png" style="width: 150px;padding-top: 25px;padding-bottom: 25px;">
                <p class="description" style="color: white;font-size: 24px;">To learn more about the RePsychling Revolution, join our Newsletter!<br></p>
                <form class="search-form justify-content-center form-group form-horizontal" style="text-align: center;margin: auto;padding: 0px;height: auto;width: 50%;background: #00000000;margin-bottom: 25px;">
                    <div class="input-group" style="width: 100%;text-align: center;height: auto;margin: auto;"><span class="input-group-text"><i class="fa fa-envelope-o"></i></span><input class="form-control" type="text" placeholder="Subscribe to our Newsletter" style="margin-bottom: 0px;"></div>
                </form><button class="btn btn-light" type="button" style="background: #7bbc7e;border-style: none;color: white;">Subscribe</button>
            </div>
        </div>
    </div>
    <footer class="footer-dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item" style="text-align: left;">
                    <h3 style="color: #7bbc7e;">RePsychle Database</h3>
                    <ul>
                        <li><a href="#">Garbage</a></li>
                        <li><a href="#">Recycling</a></li>
                        <li><a href="#">Compost</a></li>
                        <li><a href="#">Hazardous</a></li>
                        <li><a href="#">All</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item" style="text-align: left;">
                    <h3 style="color: #7bbc7e;">About</h3>
                    <ul>
                        <li><a href="#">About RePsychle</a></li>
                        <li><a href="#">Frequently Asked Questions</a></li>
                        <li><a href="#">Register</a></li>
                        <li><a href="#">Login</a></li>
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3 style="text-align: left;"><img src="assets/img/repsychle_logo%201%20shadow.png" style="width: 200px;"></h3>
                    <p style="text-align: left; font-size: 14px;">RePsychle is not responsible for any information placed into this website. During this Beta, we are testing various features and how to create a better experience that will reflect our vision. If you have any comments or concerns, please use our <em>Contact Us</em>&nbsp;page.<br></p>
                </div>
                <div class="col item social"><a href="http://www.facebook.com/wyattkirschneronline"><i class="icon ion-social-facebook"></i></a><a href="http://www.twitter.com"><i class="icon ion-social-twitter"></i></a><a href="mailto:wyatt.kirschner@mygeorgian.com"><i class="icon ion-email"></i></a><a href="http://www.instagram.com"><i class="icon ion-social-instagram"></i></a></div>
            </div>
            <p class="copyright">Wyatt Kirschner © 2022 - 200407722 - COMP3024</p>
        </div>
    </footer>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
</body>

</html>