<!DOCTYPE html>
<html lang="en" style="/*transform: perspective(0px) scale(1);*//*background: linear-gradient(170deg, #001122, #011c2e 14%, #003346 28%, #004b5b 40%, #00646c 49%, #077e76 65%, #36977c 75%, #63b07e 88%, #7bbc7e);*//*transform-style: preserve-3d;*//*box-shadow: 0px 0px;*/transform: perspective(0px) scale(1);background: linear-gradient(144deg, #001122, #011c2e 19%, #003346 31%, #004b5b 40%, #00646c 53%, #077e76 65%, #36977c 75%, #63b07e 88%, #7bbc7e) fixed;transform-style: preserve-3d;box-shadow: 0px 0px;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>RePsychle - A Recycling Community Driven Database</title>
    <meta name="theme-color" content="#545454">
    <meta name="twitter:image" content="/assets/img/repsych_logo_dark.png">
    <meta name="twitter:title" content="RePsychle - A Recycling Community Driven Database">
    <meta property="og:image" content="/assets/img/repsychle_logo%201%20shadow.png">
    <meta name="description" content="RePsychle is a community-driven database that allows users to contribute to a database by creating entries for how they recycle objects locally.">
    <meta property="og:type" content="website">
    <meta name="twitter:description" content="RePsychle is a community-driven database that allows users to contribute to a database by creating entries for how they recycle objects locally.">
    <meta name="twitter:card" content="summary_large_image">
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/assets/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="180x180" href="/assets/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/img/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/assets/img/android-chrome-512x512.png">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,700">
    <link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="/assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="/assets/css/Account-setting-or-edit-profile.css">
    <link rel="stylesheet" href="/assets/css/Black-Navbar.css">
    <link rel="stylesheet" href="/assets/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="/assets/css/Custom-Checkbox.css">
    <link rel="stylesheet" href="/assets/css/Dark-NavBar-1.css">
    <link rel="stylesheet" href="/assets/css/Dark-NavBar-2.css">
    <link rel="stylesheet" href="/assets/css/Dark-NavBar.css">
    <link rel="stylesheet" href="/assets/css/dh-card-image-left-dark.css">
    <link rel="stylesheet" href="/assets/css/Features-Boxed.css">
    <link rel="stylesheet" href="/assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="/assets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="/assets/css/Navigation-with-Search.css">
    <link rel="stylesheet" href="/assets/css/Pretty-Search-Form.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/Team-Grid.css">
</head>

<body class="background-attachment: fixed;" style="/*transform: perspective(0px) scale(1);*//*background: linear-gradient(170deg, #001122, #011c2e 14%, #003346 28%, #004b5b 40%, #00646c 49%, #077e76 65%, #36977c 75%, #63b07e 88%, #7bbc7e);*//*transform-style: preserve-3d;*//*box-shadow: 0px 0px;*/transform: perspective(0px) scale(1);background: repeating-linear-gradient(180deg, #001122, #011c2e 7%, #003346 21%, #004b5b 40%, #00646c 49%, #077e76 65%, #36977c 75%, #63b07e 88%, #7bbc7e) fixed, repeating-linear-gradient(180deg, #001122, #011c2e 7%, #003346 21%, #004b5b 40%, #00646c 49%, #077e76 65%, #36977c 75%, #63b07e 88%, #7bbc7e) fixed, repeating-linear-gradient(180deg, #001122, #011c2e 7%, #003346 21%, #004b5b 40%, #00646c 49%, #077e76 65%, #36977c 75%, #63b07e 88%, #7bbc7e) fixed;transform-style: preserve-3d;box-shadow: 0px 0px;height: 100%;">

<header style="font-size: 32px;padding-bottom: 50px;">
    <nav class="navbar navbar-light navbar-expand-md sticky-top navigation-clean-button fixed;" style="height: auto;color: #ffffff;background: #001122;">
        <div class="container-fluid">
            <div class="collapse navbar-collapse justify-content-center" id="navcol-1">
                <h1 style="font-size: 18px;color: white;width: auto;text-align: center;"><strong>RePsychle is currently in development. Please provide your feedback to </strong><a href="mailto:repsychle@wkirschn.ca" style="font-size: 18px;width: auto;text-align: center;">repsychle@wkirschn.ca</a></h1>
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-light navbar-expand-md sticky-top navigation-clean-button fixed; fixed-top; logged-out;" style="height: auto;color: #ffffff;background: rgb(40,45,50);border-style: none;border-color: #66d7d7;border-bottom-style: none;padding-top: 0px;padding-bottom: 0px;width: auto;">
        <div class="container-fluid"><a class="navbar-brand justify-content-center" data-bs-toggle="tooltip" data-bss-tooltip="" href="#" style="margin: 30px;height: auto;width: auto;transform: perspective(0px) rotate(0deg) scale(0.88) skew(0deg);transform-origin: center;">&nbsp;<img class="justify-content-center rounded-3" src="/assets/img/repsychle_logo%201%20shadow.png" style="text-align: center;/*transform: perspective(0px) scale(1);*//*transform-style: preserve-3d;*/transform: perspective(0px) scale(1);transform-style: preserve-3d;padding: 10px;margin: auto;margin-right: auto;padding-top: 10px;margin-top: auto;margin-bottom: auto;margin-left: auto;height: auto;width: 160px;" href="http://www.repsychle.org"></a><button data-bs-toggle="collapse" class="navbar-toggler navbar-dark" data-bs-target="#navcol-2" style="margin: auto;"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon" style="box-shadow: 0px 0px;"></span></button>
            <div class="collapse navbar-collapse text-center justify-content-center rounded-3" id="navcol-2" style="text-align: center;/*transform: perspective(0px) scale(1);*//*background: linear-gradient(170deg, #001122, #011c2e 14%, #003346 28%, #004b5b 40%, #00646c 49%, #077e76 65%, #36977c 75%, #63b07e 88%, #7bbc7e);*//*transform-style: preserve-3d;*//*box-shadow: 0px 0px;*/transform: perspective(0px) scale(1);background: linear-gradient(145deg, #7bbc7e 44%, #36977c 56%, #63b07e 71%, #077e76 79%, #00646c 96%) fixed;transform-style: preserve-3d;box-shadow: 10px -3px 20px 3px #545454;height: auto;width: auto;margin-right: 25px;"><a class="nav-link nav-pills rounded-pill justify-content-center" style="color: #ffffff;margin: 15px;padding: 8px 25px 8px 16px;padding-right: 25px;width: auto;font-size: 14px;padding-left: 25px;" href="http://www.repsychle.org/repsychle_blog" target="_top"><i class="fa fa-newspaper-o"></i>&nbsp;Blog</a><a class="nav-link nav-pills rounded-pill justify-content-center" style="color: #ffffff;margin: 15px;padding: 8px 25px 8px 16px;padding-right: 25px;width: auto;font-size: 14px;padding-left: 25px;" href="http://www.repsychle.org/about" target="_top"><i class="fa fa-exclamation-circle"></i>&nbsp;More Info</a><a class="nav-link nav-pills rounded-pill justify-content-center modal-trigger" style="color: #ffffff;margin: 15px;padding: 8px 25px 8px 16px;padding-right: 25px;width: auto;font-size: 14px;padding-left: 25px;" href="http://www.repsychle.org/login" target="_top" data-target="modal-login"><i class="fa fa-sign-in"></i>&nbsp;Login</a><a class="nav-link nav-pills rounded-pill justify-content-center" style="color: #ffffff;margin: 15px;padding: 8px 25px 8px 16px;padding-right: 25px;width: auto;font-size: 14px;padding-left: 25px;" href="http://www.repsychle.org/register" target="_top"><i class="fas fa-clipboard-check"></i>&nbsp;Register</a>
                <form class="text-center mr-md-2" style="padding: 0px;margin: auto;margin-left: auto;margin-top: auto;margin-right: auto;margin-bottom: auto;text-align: center;"><input class="form-control mr-md-2" type="search" style="margin: 15px;padding-right: 0px;padding-left: 0px;height: 25px;" placeholder="Search" aria-label="Search"></form>
                <div class="btn-group" style="padding-top: 10px;padding-right: 10px;padding-bottom: 10px;padding-left: 10px;margin: auto;margin-top: auto;margin-right: auto;margin-bottom: auto;margin-left: auto;"><a id="navbarSearch-2" class="btn btn-primary dropdown-toggle doprdown-toggle-split rounded-pill justify-content-center" href="#" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 14px;padding-right: 10px;padding-bottom: 0px;padding-top: 0px;padding-left: 10px;background: #545454;border-style: none;">Search Database<span class="visually-hidden" content="">Button Group</span></a>
                    <ul class="dropdown-menu" aria-labelledby="navbarSearch">
                        <li class="dropdown-item" href="#">Recycling</li>
                        <li class="dropdown-item" href="#">Garbage</li>
                        <li class="dropdown-item" href="#">Compost</li>
                        <li class="dropdown-item" href="#">Hazardous</li>
                    </ul>
                </div><a class="nav-link nav-pills rounded-pill justify-content-right" style="color: #ffffff;margin: 15px;padding: 8px 25px 8px 16px;padding-right: 25px;width: auto;font-size: 14px;padding-left: 25px;" href="http://www.repsychle.org/account" target="_top"><i class="far fa-user-circle"></i>&nbsp;Account</a>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                </ul>
            </div>
        </div>
    </nav>
</header>


<section data-bs-toggle="tooltip" data-bss-tooltip="" class="features-boxed" style="background: transparent;">
    <div class="row" style="text-align: center;background: rgba(123,188,126,0.5);">
        <div class="col-md-8" style="margin: 0px;margin-top: 5px;padding: 50px;height: 50%;text-align: center;">
            <div class="box rounded-3" style="text-align: center;/*transform: perspective(0px) scale(1);*//*transform-style: preserve-3d;*//*box-shadow: 0px 0px;*/transform: perspective(0px) scale(1);transform-style: preserve-3d;box-shadow: 0px 0px;height: 100%;width: 100%;padding: 50px;background: rgba(40,45,50,0.2);">
                <h1 class="name" style="color: white;font-size: 34px;text-align: center;">Rethink Sustainability&nbsp;<i class="fas fa-recycle icon" style="box-shadow: 0px 0px;color: #7BBC7E;"></i></h1><img src="/assets/img/repsychle_logo%201%20shadow.png" style="width: 150px;padding-top: 25px;padding-bottom: 25px;text-align: right;">
                <p class="description" style="color: white;font-size: 28px;text-align: center;">Every choice we make on this planet will impact the environment.<br><br>The environment allows us to breathe without worrying as we are all doing our part.<br><br>What if I were to tell you that the way we currently recycle is&nbsp;<em>inefficient?</em><br></p>
            </div>
        </div>
        <div class="col-md-4" style="margin-top: 50px;text-align: center;margin-bottom: 50px;padding: 12px;"><img src="/assets/img/pickup_trash.webp" style="padding: 25px;padding-right: 25px;min-height: 7px;height: 100%;width: 100%;margin: 0px;margin-bottom: 0px;padding-bottom: 25px;padding-left: 25px;text-align: center;padding-top: 25px;"></div>
    </div>
    <div class="container">
        <div class="intro"></div>
        <div class="row" style="text-align: center;padding: 0px;margin: 0px;margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;height: 100%;width: 100%;">
            <div class="col" style="width: 100%;height: 100%;text-align: center;padding: 0px;margin: 0px;margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;">
                <section style="width: 100%;text-align: center;height: 100%;padding: 0px;margin: 0px;margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;"></section>
            </div>
        </div>
        <div class="row" style="margin: 12px;padding: 12px;">
            <div class="col rounded-3">
                <section class="team-grid">
                    <div class="container rounded-3" style="background: linear-gradient(0deg, #004B5B 1%, #63B07E 76%), #63B07E;">
                        <div class="intro">
                            <h2 class="text-center" style="color: white;font-size: 32px;padding-bottom: 40px;margin-top: 40px;">How most people <em>Recycle</em></h2>
                        </div>
                        <div class="row people" style="background: rgba(40,45,50,0.2);">
                            <div class="col-md-4 col-lg-3 item">
                                <h1 class="name" style="color: white;font-size: 24px;">Obtaining a Product</h1>
                                <div class="box" style="background: url(&quot;/assets/img/package.webp&quot;) center / contain no-repeat;width: 276px;height: 280px;margin-top: 30px;margin-right: 0px;margin-bottom: 30px;margin-left: 0px;padding: 30px;padding-top: 30px;"></div>
                                <p style="color: white;font-size: 20px;">People are looking for products that are either convenient, affordable or can fulfill their expectations based on advertising and word-of-mouth.<br></p>
                            </div>
                            <div class="col-md-4 col-lg-3 item">
                                <h1 class="name" style="color: white;font-size: 24px;">Using a Product</h1>
                                <div class="box" style="background: url(&quot;/assets/img/sushi.webp&quot;) center / contain no-repeat;width: 276px;height: 280px;margin-top: 30px;margin-right: 0px;margin-bottom: 30px;margin-left: 0px;padding: 30px;"></div>
                                <p style="color: white;font-size: 20px;">While certain products can be useful, these tend to be one-use products. Some can have multiple uses, yet every product has to go somewhere.<br></p>
                            </div>
                            <div class="col-md-4 col-lg-3 item">
                                <h1 class="name" style="color: white;font-size: 24px;">Wish Cycling</h1>
                                <div class="box" style="background: url(&quot;/assets/img/sort.webp&quot;) center / contain no-repeat;width: 276px;height: 280px;margin-top: 30px;margin-right: 0px;margin-bottom: 30px;margin-left: 0px;padding: 30px;"></div>
                                <p style="color: white;font-size: 20px;">After a product is used, people can make assumptions about how to recycle it and not be entirely sure. Certain products need to be recycled in a specific way. Not only this, different regions process recycling and garbage differently.<br></p>
                            </div>
                            <div class="col-md-4 col-lg-3 item">
                                <h1 class="name" style="color: white;font-size: 24px;">Continuing the Cycle<br></h1>
                                <div class="box" style="background: url(&quot;/assets/img/repeat.webp&quot;) center / contain no-repeat;width: 276px;height: 280px;margin-top: 30px;margin-right: 0px;margin-bottom: 30px;margin-left: 0px;padding: 30px;"></div>
                                <p style="color: white;font-size: 20px;">As more and more products are used daily, the amount of garbage that can be prevented from entering our landfills can make a difference in our environment.<br></p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class="row" style="text-align: center;background: rgba(123,188,126,0.3);">
        <div class="col-md-4" style="margin-top: 15px;text-align: center;"><img src="/assets/img/idea.webp" style="padding: 12px;padding-right: 50px;min-height: 7px;height: 100%;width: 100%;margin: 0px;margin-bottom: 0px;padding-bottom: 50px;padding-left: 50px;text-align: center;padding-top: 50px;margin-top: 0px;"></div>
        <div class="col-md-8" style="margin: 0px;margin-top: 5px;padding: 50px;height: 50%;text-align: center;">
            <div class="box rounded-3" style="text-align: center;/*transform: perspective(0px) scale(1);*//*transform-style: preserve-3d;*//*box-shadow: 0px 0px;*/transform: perspective(0px) scale(1);transform-style: preserve-3d;box-shadow: 0px 0px;height: 100%;width: 100%;padding: 50px;background: rgba(40,45,50,0.2);">
                <h1 class="name" style="color: white;font-size: 34px;text-align: center;">Time to Re-Think How&nbsp;Recycle</h1><img src="/assets/img/repsychle_logo%201%20shadow.png" style="width: 200px;padding-top: 25px;padding-bottom: 25px;">
                <p class="description" style="color: white;font-size: 28px;"><br>We need to approach Recycling differently by focusing on the&nbsp;<em>Psychology</em>&nbsp;behind our actions.<br><br>By focusing on 5 key components, you can know how to recycle better.<br><br></p>
            </div>
        </div>
    </div>
    <div class="row" style="margin: 12px;padding: 12px;width: 100%;">
        <div class="col" style="background: linear-gradient(0deg, #004B5B 1%, #63B07E 76%), #63B07E;">
            <div class="container rounded-3">
                <div class="intro">
                    <h2 class="text-center" style="color: white;font-size: 32px;margin-top: 50px;margin-bottom: 50px;padding-bottom: 40px;">The 5 Key Components of&nbsp;<br><br><img src="/assets/img/repsychle_logo%201%20shadow.png" style="width: 400px;"><br></h2>
                </div>
                <div class="row" style="text-align: center;margin: 25px;">
                    <div class="col-md-8" style="margin: 0px;margin-top: 5px;padding: 5px;height: 50%;">
                        <div class="box rounded-3" style="text-align: center;/*transform: perspective(0px) scale(1);*//*transform-style: preserve-3d;*//*box-shadow: 0px 0px;*/transform: perspective(0px) scale(1);transform-style: preserve-3d;box-shadow: 0px 0px;height: 100%;width: 100%;padding: 50px;background: rgba(40,45,50,0.2);"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-lightbulb icon" style="box-shadow: 0px 0px;color: #545454;width: 100px;height: 100px;margin: 15px;">
                            <path d="M2 6a6 6 0 1 1 10.174 4.31c-.203.196-.359.4-.453.619l-.762 1.769A.5.5 0 0 1 10.5 13a.5.5 0 0 1 0 1 .5.5 0 0 1 0 1l-.224.447a1 1 0 0 1-.894.553H6.618a1 1 0 0 1-.894-.553L5.5 15a.5.5 0 0 1 0-1 .5.5 0 0 1 0-1 .5.5 0 0 1-.46-.302l-.761-1.77a1.964 1.964 0 0 0-.453-.618A5.984 5.984 0 0 1 2 6zm6-5a5 5 0 0 0-3.479 8.592c.263.254.514.564.676.941L5.83 12h4.342l.632-1.467c.162-.377.413-.687.676-.941A5 5 0 0 0 8 1z"></path>
                        </svg>
                            <h1 class="name" style="color: white;font-size: 32px;">Organizing Materials</h1>
                            <p class="description" style="color: white;font-size: 24px;">It's easy to forget that at one point, the common items that you use were in a different state during their lifecycle. A lot of the products that are used and consumed are a combination of various materials.<br><br>By understanding the composition of the everyday products that we use, we can determine how to recycle these products.</p>
                        </div>
                    </div>
                    <div class="col-md-4" style="margin-top: 15px;text-align: center;"><img src="/assets/img/compare-sidebar.webp" style="padding: 5px;padding-right: 50px;min-height: 7px;height: 100%;width: 100%;margin: 0px;margin-bottom: 0px;padding-bottom: 50px;padding-left: 50px;text-align: center;"></div>
                </div>
                <div class="row" style="text-align: center;margin: 25px;">
                    <div class="col-md-4" style="margin-top: 15px;text-align: center;"><img src="/assets/img/sort-sidebar.webp" style="padding: 5px;padding-right: 50px;min-height: 7px;height: 100%;width: 100%;margin: 0px;margin-bottom: 0px;padding-bottom: 50px;padding-left: 50px;text-align: center;"></div>
                    <div class="col-md-8" style="margin: 0px;margin-top: 5px;padding: 5px;height: 50%;">
                        <div class="box rounded-3" style="text-align: center;/*transform: perspective(0px) scale(1);*//*transform-style: preserve-3d;*//*box-shadow: 0px 0px;*/transform: perspective(0px) scale(1);transform-style: preserve-3d;box-shadow: 0px 0px;height: 100%;width: 100%;padding: 50px;background: rgba(40,45,50,0.2);"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-sort-alpha-up icon" style="box-shadow: 0px 0px;color: #545454;width: 100px;height: 100px;margin: 15px;">
                            <path fill-rule="evenodd" d="M10.082 5.629 9.664 7H8.598l1.789-5.332h1.234L13.402 7h-1.12l-.419-1.371h-1.781zm1.57-.785L11 2.687h-.047l-.652 2.157h1.351z"></path>
                            <path d="M12.96 14H9.028v-.691l2.579-3.72v-.054H9.098v-.867h3.785v.691l-2.567 3.72v.054h2.645V14zm-8.46-.5a.5.5 0 0 1-1 0V3.707L2.354 4.854a.5.5 0 1 1-.708-.708l2-1.999.007-.007a.498.498 0 0 1 .7.006l2 2a.5.5 0 1 1-.707.708L4.5 3.707V13.5z"></path>
                        </svg>
                            <h1 class="name" style="color: white;font-size: 32px;">Separation of Materials for Disposal</h1>
                            <p class="description" style="color: white;font-size: 24px;">When we find solutions to the best way to dispose of the materials in our everyday products, it becomes easier to turn a difficult problem into a more manageable one.&nbsp;<br>Based on the product, users can create entries of how to dispose of each object.</p>
                        </div>
                    </div>
                </div>
                <div class="row" style="text-align: center;background: transparent;margin: 25px;">
                    <div class="col-md-8" style="margin: 0px;margin-top: 5px;padding: 5px;height: 50%;background: rgba(40,45,50,0.2);">
                        <div class="box rounded-3" style="text-align: center;/*transform: perspective(0px) scale(1);*//*transform-style: preserve-3d;*//*box-shadow: 0px 0px;*/transform: perspective(0px) scale(1);transform-style: preserve-3d;box-shadow: 0px 0px;height: 100%;width: 100%;padding: 50px;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-map icon" style="box-shadow: 0px 0px;color: #545454;width: 100px;height: 100px;margin: 15px;">
                            <path fill-rule="evenodd" d="M15.817.113A.5.5 0 0 1 16 .5v14a.5.5 0 0 1-.402.49l-5 1a.502.502 0 0 1-.196 0L5.5 15.01l-4.902.98A.5.5 0 0 1 0 15.5v-14a.5.5 0 0 1 .402-.49l5-1a.5.5 0 0 1 .196 0L10.5.99l4.902-.98a.5.5 0 0 1 .415.103zM10 1.91l-4-.8v12.98l4 .8V1.91zm1 12.98 4-.8V1.11l-4 .8v12.98zm-6-.8V1.11l-4 .8v12.98l4-.8z"></path>
                        </svg>
                            <h1 class="name" style="color: white;font-size: 32px;">Location Matters</h1>
                            <p class="description" style="color: white;font-size: 24px;">Did you know that the location of where you dispose of an object may differ between regions?<br>Based on the various facilities, population density, and current practices; municipalities may dispose of objects differently.<br><br>RePyschle gives you the option to include a geographic location of where the entry is based to give others an idea of what is available in their current area.&nbsp;</p>
                        </div>
                    </div>
                    <div class="col-md-4" style="margin-top: 15px;text-align: center;"><img src="/assets/img/geo-sidebar.webp" style="padding: 5px;padding-right: 50px;min-height: 7px;height: 100%;width: 100%;margin: 0px;margin-bottom: 0px;padding-bottom: 50px;padding-left: 50px;text-align: center;"></div>
                </div>
                <div class="row" style="text-align: center;margin: 25px;">
                    <div class="col-md-4" style="margin-top: 15px;text-align: center;"><img src="/assets/img/planning-sidebar.webp" style="padding: 5px;padding-right: 50px;min-height: 7px;width: 100%;margin: 0px;margin-bottom: 0px;padding-bottom: 50px;padding-left: 50px;text-align: center;height: 100%;"></div>
                    <div class="col-md-8" style="margin: 0px;margin-top: 5px;padding: 5px;height: 50%;">
                        <div class="box rounded-3" style="text-align: center;/*transform: perspective(0px) scale(1);*//*transform-style: preserve-3d;*//*box-shadow: 0px 0px;*/transform: perspective(0px) scale(1);transform-style: preserve-3d;box-shadow: 0px 0px;height: 100%;width: 100%;padding: 50px;background: rgba(40,45,50,0.2);"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-patch-exclamation icon" style="box-shadow: 0px 0px;color: #7BBC7E;width: 100px;height: 100px;margin: 15px;">
                            <path d="M7.001 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.553.553 0 0 1-1.1 0L7.1 4.995z"></path>
                            <path d="m10.273 2.513-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911l-1.318.016z"></path>
                        </svg>
                            <h1 class="name" style="color: white;font-size: 32px;">Understanding Patterns</h1>
                            <p class="description" style="color: white;font-size: 24px;">By using the RePsychle Database, the entries that you make and the ones that others may create can give a better understanding of how to recycle more efficiently.<br><br>An example of this is understanding the various EcoScore that is submitted with the object. If the EcoScore is high, then this is an object that should be used when available.<br><br>Seeing various database entries can encourage more thoughtful behavior.&nbsp;</p>
                        </div>
                    </div>
                </div>
                <div class="row" style="text-align: center;margin: 25px;">
                    <div class="col-md-8" style="margin: 0px;margin-top: 5px;padding: 5px;height: 50%;">
                        <div class="box rounded-3" style="text-align: center;/*transform: perspective(0px) scale(1);*//*transform-style: preserve-3d;*//*box-shadow: 0px 0px;*/transform: perspective(0px) scale(1);transform-style: preserve-3d;box-shadow: 0px 0px;height: 100%;width: 100%;padding: 50px;background: rgba(40,45,50,0.2);"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-hand-thumbs-up icon" style="box-shadow: 0px 0px;color: #7BBC7E;width: 100px;height: 100px;margin: 15px;">
                            <path d="M8.864.046C7.908-.193 7.02.53 6.956 1.466c-.072 1.051-.23 2.016-.428 2.59-.125.36-.479 1.013-1.04 1.639-.557.623-1.282 1.178-2.131 1.41C2.685 7.288 2 7.87 2 8.72v4.001c0 .845.682 1.464 1.448 1.545 1.07.114 1.564.415 2.068.723l.048.03c.272.165.578.348.97.484.397.136.861.217 1.466.217h3.5c.937 0 1.599-.477 1.934-1.064a1.86 1.86 0 0 0 .254-.912c0-.152-.023-.312-.077-.464.201-.263.38-.578.488-.901.11-.33.172-.762.004-1.149.069-.13.12-.269.159-.403.077-.27.113-.568.113-.857 0-.288-.036-.585-.113-.856a2.144 2.144 0 0 0-.138-.362 1.9 1.9 0 0 0 .234-1.734c-.206-.592-.682-1.1-1.2-1.272-.847-.282-1.803-.276-2.516-.211a9.84 9.84 0 0 0-.443.05 9.365 9.365 0 0 0-.062-4.509A1.38 1.38 0 0 0 9.125.111L8.864.046zM11.5 14.721H8c-.51 0-.863-.069-1.14-.164-.281-.097-.506-.228-.776-.393l-.04-.024c-.555-.339-1.198-.731-2.49-.868-.333-.036-.554-.29-.554-.55V8.72c0-.254.226-.543.62-.65 1.095-.3 1.977-.996 2.614-1.708.635-.71 1.064-1.475 1.238-1.978.243-.7.407-1.768.482-2.85.025-.362.36-.594.667-.518l.262.066c.16.04.258.143.288.255a8.34 8.34 0 0 1-.145 4.725.5.5 0 0 0 .595.644l.003-.001.014-.003.058-.014a8.908 8.908 0 0 1 1.036-.157c.663-.06 1.457-.054 2.11.164.175.058.45.3.57.65.107.308.087.67-.266 1.022l-.353.353.353.354c.043.043.105.141.154.315.048.167.075.37.075.581 0 .212-.027.414-.075.582-.05.174-.111.272-.154.315l-.353.353.353.354c.047.047.109.177.005.488a2.224 2.224 0 0 1-.505.805l-.353.353.353.354c.006.005.041.05.041.17a.866.866 0 0 1-.121.416c-.165.288-.503.56-1.066.56z"></path>
                        </svg>
                            <h1 class="name" style="color: white;font-size: 32px;">Build a Community</h1>
                            <p class="description" style="color: white;font-size: 24px;">Engaging with others using Social Media and various Internet Platforms can give you the opportunity to brainstorm for the next big idea on how to tackle this crisis!<br><br>Learning from others and sharing knowledge is one of the many ways to help with Recycling!</p>
                        </div>
                    </div>
                    <div class="col-md-4" style="margin-top: 15px;text-align: center;"><img src="/assets/img/community-sidebar.webp" style="padding: 5px;padding-right: 50px;min-height: 7px;height: 100%;width: 100%;margin: 0px;margin-bottom: 0px;padding-bottom: 50px;padding-left: 50px;text-align: center;"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="row" style="text-align: center;margin: 25px;">
    <div class="col-md-4" style="margin-top: 15px;text-align: center;"><img src="/assets/img/hand%20sidebar.webp" style="padding: 5px;padding-right: 50px;min-height: 7px;height: 100%;width: 100%;margin: 0px;margin-bottom: 0px;padding-bottom: 50px;padding-left: 50px;text-align: center;"></div>
    <div class="col-md-8" style="margin: 0px;margin-top: 5px;padding: 5px;height: 50%;">
        <div class="box rounded-3" style="text-align: center;/*transform: perspective(0px) scale(1);*//*transform-style: preserve-3d;*//*box-shadow: 0px 0px;*/transform: perspective(0px) scale(1);transform-style: preserve-3d;box-shadow: 0px 0px;height: 100%;width: 100%;padding: 50px;background: rgba(40,45,50,0.2);color: rgb(73, 80, 87);"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-recycle icon" style="box-shadow: 0px 0px;color: #7bbc7e;width: 100px;height: 100px;margin: 15;">
            <path d="M9.302 1.256a1.5 1.5 0 0 0-2.604 0l-1.704 2.98a.5.5 0 0 0 .869.497l1.703-2.981a.5.5 0 0 1 .868 0l2.54 4.444-1.256-.337a.5.5 0 1 0-.26.966l2.415.647a.5.5 0 0 0 .613-.353l.647-2.415a.5.5 0 1 0-.966-.259l-.333 1.242-2.532-4.431zM2.973 7.773l-1.255.337a.5.5 0 1 1-.26-.966l2.416-.647a.5.5 0 0 1 .612.353l.647 2.415a.5.5 0 0 1-.966.259l-.333-1.242-2.545 4.454a.5.5 0 0 0 .434.748H5a.5.5 0 0 1 0 1H1.723A1.5 1.5 0 0 1 .421 12.24l2.552-4.467zm10.89 1.463a.5.5 0 1 0-.868.496l1.716 3.004a.5.5 0 0 1-.434.748h-5.57l.647-.646a.5.5 0 1 0-.708-.707l-1.5 1.5a.498.498 0 0 0 0 .707l1.5 1.5a.5.5 0 1 0 .708-.707l-.647-.647h5.57a1.5 1.5 0 0 0 1.302-2.244l-1.716-3.004z"></path>
        </svg>
            <h1 class="name" style="color: white;font-size: 32px;">How to Contribute</h1>
            <p class="description" style="color: white;font-size: 24px;">You can contribute by viewing the database, creating an account, creating an entry, or submitting feedback using the <em>Contact Us</em>&nbsp;page.<br><br>Please take a moment to view our database to create an entry.<br><br>Subscribe to our Newsletter!</p>
        </div>
    </div>
</div>
<div class="row" style="text-align: center;background: linear-gradient(0deg, #004B5B 1%, #63B07E 76%), #63B07E;padding: 5px;">
    <div class="col">
        <div class="container text-center" style="background: rgba(0,0,0,0);margin-top: 50px;margin-bottom: 50px;">
            <div class="row text-center justify-content-center align-items-center" style="margin: 20px;padding: 20px;margin-bottom: 20px;margin-top: 20px;margin-right: 20px;margin-left: 20px;padding-top: 20px;padding-right: 20px;" onclick="return true">
                <div class="col" style="padding-top: 12px;padding-right: 12px;padding-bottom: 12px;padding-left: 12px;background: rgba(40,45,50,0.2);"><i class="fas fa-map-marker-alt icon" style="box-shadow: 0px 0px;color: #7BBC7E;height: 75px;width: 75px;margin-bottom: 16px;border-color: #545454;font-size: 75px;text-align: center;"></i>
                    <div>
                        <h1 style="color: white;font-size: 28px;text-align: center;">Leave Your Mark!</h1>
                        <div></div>
                    </div>
                    <div>
                        <p style="color: white;font-size: 28px;text-align: center;margin: 50px;">Please take a moment to view our Database navigating our website. If you want to create an entry, please create an account!<br><br>If you have any questions about the website, please don't hesitate to reach out!<br><br>Thank you!<br></p><img src="/assets/img/repsychle_logo%201%20shadow.png" style="width: 350px;padding-top: 25px;padding-bottom: 25px;">
                        <figure>
                            <blockquote class="blockquote">
                                <p class="mb-0" style="color: white;font-size: 28px;text-align: center;margin: 0px;">Green Differently!</p>
                            </blockquote>
                            <figcaption class="blockquote-footer" style="color: white;font-size: 28px;text-align: center;margin: 50px;">RePsychle</figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12" style="padding: 25px;padding-top: 25px;text-align: center;background: rgba(40,45,50,0.8);"><i class="fas fa-recycle text-center icon" style="box-shadow: 0px 0px;color: #7bbc7e;width: 75px;height: 75px;font-size: 78px;text-align: center;"></i>
    <div class="box rounded-3" style="text-align: center;/*transform: perspective(0px) scale(1);*//*transform-style: preserve-3d;*//*box-shadow: 0px 0px;*/transform: perspective(0px) scale(1);transform-style: preserve-3d;box-shadow: 0px 0px;height: 100%;width: 100%;padding: 25px;margin: 0 auto;">
        <h1 class="name" style="color: white;font-size: 32px;">Join our Email List</h1><img src="/assets/img/repsychle_logo%201%20shadow.png" style="padding-top: 25px;padding-bottom: 25px;width: 25%;">
        <p class="description" style="color: white;font-size: 24px;">To learn more about the RePsychling Revolution, join our Newsletter!<br></p>
        <form class="search-form justify-content-center form-group form-horizontal" style="text-align: center;margin: auto;padding: 0px;height: auto;width: 50%;background: #00000000;margin-bottom: 25px;">
            <div class="input-group" style="width: 100%;text-align: center;height: auto;margin: auto;"></div>
        </form><div style="text-align: center;">

        <div class="wrapper rounded6" id="templateContainer">


            <div id="templateBody" class="bodyContent rounded6">










                <form action="https://repsychle.us14.list-manage.com/subscribe/post" method="POST">
                    <input type="hidden" name="u" value="8b977aaab218495243d4ea039">
                    <input type="hidden" name="id" value="00a0eca80f">


                    <!-- people should not fill these in and expect good things -->
                    <!-- <div class="field-shift" aria-label="Please leave the following three fields empty" aria-hidden="true">
                         <label for="b_name">Name: </label>
                         <input type="text" name="b_name" tabindex="-1" value="" placeholder="Freddie" id="b_name">

                         <label for="b_email">Email: </label>
                         <input type="email" name="b_email" tabindex="-1" value="" placeholder="youremail@gmail.com" id="b_email">

                         <label for="b_comment">Comment: </label>
                         <textarea name="b_comment" tabindex="-1" placeholder="Please comment" id="b_comment"></textarea>
                     </div>

                 -->

                    <div id="mergeTable" class="mergeTable">


                        <div class="mergeRow dojoDndItem mergeRow-email" id="mergeRow-0">
                            <label for="MERGE0" style="color: white;font-size: 24px; margin-bottom: 0px; margin: 25px;margin-bottom: 25px;margin-top: 25px; width: 25%; text-align: center;">Email Address <span class="req asterisk">*</span></label>
                            <div class="field-group">
                                <input  type="email" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" size="25" value="" style="margin: 25px;margin-bottom: 25px;margin-top: 25px; width: 25%; text-align: center;">


                            </div>

                        </div>



                        <div class="mergeRow dojoDndItem mergeRow-text" id="mergeRow-1">
                            <label for="MERGE1" style="color: white;font-size: 18px;">First Name</label>
                            <div class="field-group">
                                <input type="text" name="MERGE1" id="MERGE1" size="25" value="" style="margin: 25px;margin-bottom: 25px;margin-top: 25px; width: 25%; text-align: center;">


                            </div>

                        </div>



                        <div class="mergeRow dojoDndItem mergeRow-text" id="mergeRow-2">
                            <label for="MERGE2" style="color: white;font-size: 18px;">Last Name</label>
                            <div class="field-group">
                                <input type="text" name="MERGE2" id="MERGE2" size="25" value="" style="margin: 25px;margin-bottom: 25px;margin-top: 25px; width: 25%; text-align: center;">


                            </div>

                        </div>









                    </div>

                    <div class="submit_container clear">
                        <input type="submit" class="formEmailButton" name="submit" value="Subscribe" style="background: #7bbc7e;border-style: none;color: white; margin: 25px;margin-bottom: 25px;margin-top: 25px;text-align: center;">
                    </div>
                    <input type="hidden" name="ht" value="2f9f9c55d32933679bad3360902d1d3f28af06d8:MTY0OTk5MzE0MC43NTM2">
                    <input type="hidden" name="mc_signupsource" value="hosted">
                </form>


            </div>
        </div>


        <div class="poweredWrapper">
            <span class="poweredBy"><a href="http://www.mailchimp.com/email-referral/?utm_source=freemium_newsletter&amp;utm_medium=email&amp;utm_campaign=referral_marketing&amp;aid=8b977aaab218495243d4ea039&amp;afl=1"><img src="https://cdn-images.mailchimp.com/monkey_rewards/grow-business-banner-2.png" border="0" alt="Email Marketing Powered by Mailchimp" title="Mailchimp Email Marketing" width="435" height="64" style="max-width: 100%; height: auto;"></a></span>
        </div>

        <script type="text/javascript" src="/d7n1/lSH1/SE-/Gqq/g-VA/ifr7VrpbiN/Hy9jbBo5DBA/WmEPPW/FOCDw"></script>

    </div>
    </div>
</div>
<footer class="footer-dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3 item" style="text-align: left;">
                <h3 style="color: #7bbc7e;">RePsychle Database</h3>
                <ul>
                    <li><a href="http://www.repsychle.org/database/garbage">Garbage</a></li>
                    <li><a href="http://www.repsychle.org/database/recycling">Recycling</a></li>
                    <li><a href="http://www.repsychle.org/database/compost">Compost</a></li>
                    <li><a href="http://www.repsychle.org/database/hazardous">Hazardous</a></li>
                    <li><a href="http://www.repsychle.org/database/all">All</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3 item" style="text-align: left;">
                <h3 style="color: #7bbc7e;">About</h3>
                <ul>
                    <li><a href="http://www.repsychle.org/about">About RePsychle</a></li>
                    <li><a href="http://www.repsychle.org/faq">Frequently Asked Questions</a></li>
                    <li><a href="http://www.repsychle.org/register">Register</a></li>
                    <li><a href="http://www.repsychle.org/login">Login</a></li>
                    <li><a href="http://www.repsychle.org/account">My Account</a></li>
                    <li><a href="http://www.repsychle.org/contact">Contact Us</a></li>
                    <li><a href="http://www.repsychle.org/how">How To RePsychle</a></li>
                    <li><a href="http://www.repsychle.org/repsychle_blog">Blog</a></li>
                </ul>
            </div>
            <div class="col-md-6 item text">
                <h3 style="text-align: left;"><img src="/assets/img/repsychle_logo%201%20shadow.png" style="width: 200px;"></h3>
                <p style="text-align: left; font-size: 14px;">RePsychle is not responsible for any information placed into this website. During this Beta, we are testing various features and how to create a better experience that will reflect our vision. If you have any comments or concerns, please use our <em>Contact Us</em>&nbsp;page.<br></p>
            </div>
            <div class="col item social"><a href="https://www.facebook.com/RePsychleCanada"><i class="icon ion-social-facebook"></i></a><a href="https://twitter.com/RePsychleCanada"><i class="icon ion-social-twitter"></i></a><a href="mailto:repsychle@wkirschn.ca"><i class="icon ion-email"></i></a><a href="https://instagram.com/repsychlecanada"><i class="icon ion-social-instagram"></i></a></div>
        </div>
        <p class="copyright">Wyatt Kirschner © 2022 - 200407722 - COMP3006<br></p>
    </div>
</footer>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/js/bs-init.js"></script>
</body>

</html>