<!--
   Name:       Wyatt Kirschner
   Student ID: 200407722
   Date:       02/07/2022
   Project:    RePsychle Website Application
   Notes:      This will be the main template that will be implemented through the website / homepage


   -->
<!-- Bootstrap 5.1.3 is going to be used for the default navigation and styling. Any additional modifications can be made.
   The original source can be found here. https://getbootstrap.com/
   -->
<html lang="en" style="/*transform: perspective(0px) scale(1);*//*background: linear-gradient(170deg, #001122, #011c2e 14%, #003346 28%, #004b5b 40%, #00646c 49%, #077e76 65%, #36977c 75%, #63b07e 88%, #7bbc7e);*//*transform-style: preserve-3d;*//*box-shadow: 0px 0px;*/transform: perspective(0px) scale(1);background: linear-gradient(144deg, #001122, #011c2e 19%, #003346 31%, #004b5b 40%, #00646c 53%, #077e76 65%, #36977c 75%, #63b07e 88%, #7bbc7e) fixed;transform-style: preserve-3d;box-shadow: 0px 0px;">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>RePsychle - Bootstrap Studio - Alt</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/fontawesome.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>RePsychle - Bootstrap Studio</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/styles.min.css?h=6786e1802fa692bd102311ea42a136f1">
</head>

<body class="background-attachment: fixed;" style="/*transform: perspective(0px) scale(1);*//*background: linear-gradient(170deg, #001122, #011c2e 14%, #003346 28%, #004b5b 40%, #00646c 49%, #077e76 65%, #36977c 75%, #63b07e 88%, #7bbc7e);*//*transform-style: preserve-3d;*//*box-shadow: 0px 0px;*/transform: perspective(0px) scale(1);background: repeating-linear-gradient(180deg, #001122, #011c2e 7%, #003346 21%, #004b5b 40%, #00646c 49%, #077e76 65%, #36977c 75%, #63b07e 88%, #7bbc7e) fixed;transform-style: preserve-3d;box-shadow: 0px 0px;height: 100%;">
<div></div>
<header style="font-size: 32px;padding-bottom: 0px;">
    <nav class="navbar navbar-light navbar-expand-md sticky-top navigation-clean-button fixed;" style="height: auto;color: #ffffff;background: #001122;">
        <div class="container-fluid">
            <div id="navcol-1" class="collapse navbar-collapse justify-content-center">
                <h1 style="font-size: 18px;color: white;width: auto;text-align: center;"><strong>RePsychle is currently in development. Please provide your feedback to </strong><a href="mailto:wyattkirschneronline@gmail.com"><strong>repsychle.beta@wkirschn.ca</strong></a></h1>
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-light navbar-expand-md sticky-top navigation-clean-button fixed; fixed-top;" style="height: 100px;color: #ffffff;background: rgba(255,255,255,0);border-color: #66d7d7;border-bottom-style: none;">
        <div class="container-fluid"><a class="navbar-brand justify-content-center" data-bs-toggle="tooltip" href="#" style="margin: 30px;height: 100%;width: 122px;transform: perspective(0px) rotate(0deg) scale(0.88) skew(0deg);transform-origin: center;"><img class="justify-content-center rounded-3" src="/images/logo/repsychle_logo 1 shadow.png" style="width: 160px;height: auto;text-align: center;/*transform: perspective(0px) scale(1);*//*transform-style: preserve-3d;*/transform: perspective(0px) scale(1);transform-style: preserve-3d;height: 100%;padding: 10px;margin-right: 100px;" /></a><button class="navbar-toggler navbar-dark" data-bs-toggle="collapse" data-bs-target="#navcol-3"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon" style="box-shadow: 0px 0px;"></span></button>
            <div id="navcol-3" class="collapse navbar-collapse justify-content-center rounded-3" style="text-align: center;/*transform: perspective(0px) scale(1);*//*background: linear-gradient(170deg, #001122, #011c2e 14%, #003346 28%, #004b5b 40%, #00646c 49%, #077e76 65%, #36977c 75%, #63b07e 88%, #7bbc7e);*//*transform-style: preserve-3d;*//*box-shadow: 0px 0px;*/transform: perspective(0px) scale(1);background: linear-gradient(145deg, #7bbc7e 44%, #36977c 56%, #63b07e 71%, #077e76 79%, #00646c 96%) fixed;transform-style: preserve-3d;box-shadow: 0px 0px;height: 100%;"><a class="nav-link nav-pills rounded-pill justify-content-center" style="color: #ffffff;margin: 15px;padding-right: 25px;width: auto;font-size: 14px;" href="#"><i class="fa fa-newspaper-o"></i> Blog</a><input type="search" style="margin: 15px;padding-right: 50px;padding-left: 50px;height: 25px;" />
                <div class="btn-group" style="padding-top: 10px;padding-right: 10px;padding-bottom: 10px;padding-left: 10px;"><a id="navbarSearch-1" class="btn btn-primary dropdown-toggle doprdown-toggle-split rounded-pill justify-content-center" href="#" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 14px;padding-right: 10px;padding-bottom: 0px;padding-top: 0px;padding-left: 10px;">Search Database<span class="visually-hidden" content>Button Group</span></a>
                    <ul class="dropdown-menu" aria-labelledby="navbarSearch">
                        <li class="dropdown-item" href="#">Recycling</li>
                        <li class="dropdown-item" href="#">Garbage</li>
                        <li class="dropdown-item" href="#">Compost</li>
                        <li class="dropdown-item" href="#">Hazardous</li>
                    </ul>
                </div>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link active nav-pills rounded-pill justify-content-center" style="color: #ffffff;font-size: 14px;" href="#"><i class="fa fa-home"></i> Home</a></li>
                    <li class="nav-item"><a class="nav-link active" style="color: #ffffff;font-size: 14px;" href="#"><i class="fa fa-sign-in"></i> Sign In</a></li>
                    <li class="nav-item"><a class="nav-link active" style="color: #ffffff;font-size: 14px;" href="about.html"><i class="fa fa-star-o"></i> About</a></li>
                    <li class="nav-item"><a class="nav-link active" style="color: #ffffff;font-size: 12px;" href="#"><i class="fa fa-user-circle-o"></i> Sign-Up</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container text-center" style="background: rgba(123,188,126,0.2);margin: 25px;margin-top: 25px;margin-bottom: 24px;">
    <div class="row text-center justify-content-center align-items-center" style="margin: 12px;padding: 12px;width: 100%;margin-bottom: 12px;" onclick="return true">
        <div class="col" style="background: rgba(40,45,50,0.2);"><svg class="bi bi-person-check-fill icon" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" style="box-shadow: 0px 0px;color: #7BBC7E;height: 75px;width: 75px;margin-bottom: 16px;border-color: #545454;font-size: 75px;text-align: center;">
            <path fill-rule="evenodd" d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"></path>
            <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path>
        </svg>
            <div>
                <h1 style="color: white;font-size: 28px;text-align: center;">Login</h1><img src="/images/logo/repsychle_logo 1 shadow.png" style="width: 350px;padding-top: 25px;padding-bottom: 25px;" />
                <div>
                    <h1 style="color: white;font-size: 28px;text-align: left;margin: 50px;">Username</h1>
                    <div id="accordion-1" class="accordion accordion-flush" role="tablist" style="text-align: left;margin: 50px;">
                        <div class="accordion-item">
                            <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-1" aria-expanded="false" aria-controls="accordion-1 .item-1">What is RePsychle?</button></h2>
                            <div class="accordion-collapse collapse item-1" role="tabpanel" data-bs-parent="#accordion-1">
                                <div class="accordion-body">
                                    <p class="mb-0">RePsychle is a website that was created to help you learn how to recycle better by searching in our RePsychle Database for the best way to recycle an object. We offer a range of features in our database by having users create an account, create an entry, and tag where their database applies regionally.<br /><br />Our Newsletter also delivers tips to users on how to properly recycle and statistics of the database to help expand the services to build a community.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-2" aria-expanded="false" aria-controls="accordion-1 .item-2">Is RePsychle free-to-use?</button></h2>
                            <div class="accordion-collapse collapse item-2" role="tabpanel" data-bs-parent="#accordion-1">
                                <div class="accordion-body">
                                    <p class="mb-0">RePsychle is a free-to-use website that is committed to creating various tools that allow users to make better choices when it comes to recycling.<br /><br />During this beta, there are no plans to implement a tiered system or a way to make a purchase.<br /><br />We will provide proper communication once RePsychle is tailored and more stable than the state that it&#39;s currently in.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-3" aria-expanded="false" aria-controls="accordion-1 .item-3">What are my rights to the data that I provide to RePsychle?</button></h2>
                            <div class="accordion-collapse collapse item-3" role="tabpanel" data-bs-parent="#accordion-1">
                                <div class="accordion-body">
                                    <p class="mb-0">During the current beta, it&#39;s important to recognize that the foundations of this website may change based on the development of our services.<br /><br />Any information that you share with RePsychle does not belong to the website.<br /><br />This information includes the following:<br /> · Your Full Name<br /> · Your Email Address<br /> · Your Password<br /> · Any Data Entered into a Database Entry<br /> · Any Images Uploaded to a Database Entry<br /> · Any Images Uploaded to Your Profile<br /><br />Please be aware that this is <em>Not Legally Binding.</em><br /></p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-4" aria-expanded="false" aria-controls="accordion-1 .item-4">How do I get started?</button></h2>
                            <div class="accordion-collapse collapse item-4" role="tabpanel" data-bs-parent="#accordion-1">
                                <div class="accordion-body">
                                    <p class="mb-0">You can create an Account by clicking on the <em>Sign-Up</em> button at the top of the website.<br /><br />If you are currently signed in, you will not have this option since you already have an account.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" role="tab"><button class="accordion-button" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-5" aria-expanded="true" aria-controls="accordion-1 .item-5">How do I close my account?</button></h2>
                            <div class="accordion-collapse collapse show item-5" role="tabpanel" data-bs-parent="#accordion-1">
                                <div class="accordion-body">
                                    <p class="mb-0">Please click on the <em>Profile</em> icon at the top of the page, go to <em>Settings</em>, and follow the instructions on the <em>Delete Account</em> tab.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" style="text-align: center;background: rgba(40,45,50,0.8);padding: 5px;padding-top: 5px;">
    <div class="col-md-12" style="padding: 25px;padding-top: 25px;text-align: center;"><i class="fas fa-recycle text-center icon" style="box-shadow: 0px 0px;color: #7bbc7e;width: 75px;height: 75px;font-size: 78px;text-align: center;"></i>
        <div class="box rounded-3" style="text-align: center;/*transform: perspective(0px) scale(1);*//*transform-style: preserve-3d;*//*box-shadow: 0px 0px;*/transform: perspective(0px) scale(1);transform-style: preserve-3d;box-shadow: 0px 0px;height: 100%;width: 100%;padding: 25px;margin: 0 auto;">
            <h1 class="name" style="color: white;font-size: 32px;">Join our Email List</h1><img src="repsychle_logo 1 shadow.png" style="width: 150px;padding-top: 25px;padding-bottom: 25px;" />
            <p class="description" style="color: white;font-size: 24px;">To learn more about the RePsychling Revolution, join our Newsletter!<br /></p>
            <form class="search-form justify-content-center form-group form-horizontal" style="text-align: center;margin: auto;padding: 0px;height: auto;width: 50%;background: #00000000;margin-bottom: 25px;">
                <div class="input-group" style="width: 100%;text-align: center;height: auto;margin: auto;"><span class="input-group-text"><i class="fa fa-envelope-o"></i></span><input class="form-control" type="text" placeholder="Subscribe to our Newsletter" style="margin-bottom: 0px;" /></div>
            </form><button class="btn btn-light" type="button">Subscribe</button>
        </div>
    </div>
</div>
<footer class="footer-dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3 item">
                <h3 style="color: #7BBC7E;">RePsychle Database</h3>
                <ul>
                    <li><a href="#">Garbage</a></li>
                    <li><a href="#">Recycling</a></li>
                    <li><a href="#">Compost</a></li>
                    <li><a href="#">Hazardous</a></li>
                    <li><a href="#">All</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3 item">
                <h3 style="color: #7BBC7E;">About</h3>
                <ul>
                    <li><a href="#">About RePsychle</a></li>
                    <li>Frequently Asked Questions</li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-md-6 item text">
                <h3><img src="repsychle_logo 1 shadow.png" style="width: 200px;" /></h3>
                <p>RePsychle is not responsible for any information placed into this website. During this Beta, </p>
            </div>
            <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
        </div>
        <p class="copyright">Wyatt Kirschner © 2022</p>
    </div>
</footer>
</body>

</html>