<!---->

{{> messages}}
    <h2>{{ username }}'s profile</h2>
    <table class="table">
        <tr>
            <td>Username: </td>
            <td>{{ username }}</td>
        </tr>
        <tr>
            <td>First Name: </td>
            <td>{{ firstName }}</td>
        </tr>
        <tr>
            <td>Last Name: </td>
            <td>{{ lastName }}</td>
        </tr>


    </table>

<p><a href="../users" target="_blank">Edit your profile</a></p>
<p><a href="../auth/logout" target="_blank">Logout of your Profile</a></p>