<!--
   Name:       Wyatt Kirschner
   Student ID: 200407722
   Date:       02/07/2022
   Project:    RePsychle Website Application
   Notes:      This will be the main template that will be implemented through the website / homepage


   -->
<!-- Bootstrap 5.1.3 is going to be used for the default navigation and styling. Any additional modifications can be made.
   The original source can be found here. https://getbootstrap.com/
   -->
<!--
<html lang="en" style="/*transform: perspective(0px) scale(1);*//*background: linear-gradient(170deg, #001122, #011c2e 14%, #003346 28%, #004b5b 40%, #00646c 49%, #077e76 65%, #36977c 75%, #63b07e 88%, #7bbc7e);*//*transform-style: preserve-3d;*//*box-shadow: 0px 0px;*/transform: perspective(0px) scale(1);background: linear-gradient(144deg, #001122, #011c2e 19%, #003346 31%, #004b5b 40%, #00646c 53%, #077e76 65%, #36977c 75%, #63b07e 88%, #7bbc7e) fixed;transform-style: preserve-3d;box-shadow: 0px 0px;">





<head>
    <script src="https://kit.fontawesome.com/d35125a7e5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/fontawesome.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>RePsychle - Bootstrap Studio</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/styles.min.css?h=6786e1802fa692bd102311ea42a136f1">

</head>
<html lang="en" style="/*transform: perspective(0px) scale(1);*//*background: linear-gradient(170deg, #001122, #011c2e 14%, #003346 28%, #004b5b 40%, #00646c 49%, #077e76 65%, #36977c 75%, #63b07e 88%, #7bbc7e);*//*transform-style: preserve-3d;*//*box-shadow: 0px 0px;*/transform: perspective(0px) scale(1);background: linear-gradient(144deg, #001122, #011c2e 19%, #003346 31%, #004b5b 40%, #00646c 53%, #077e76 65%, #36977c 75%, #63b07e 88%, #7bbc7e) fixed;transform-style: preserve-3d;box-shadow: 0px 0px;">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>RePsychle - Bootstrap Studio - Alt</title>
</head>

<body class="background-attachment: fixed;" style="/*transform: perspective(0px) scale(1);*//*background: linear-gradient(170deg, #001122, #011c2e 14%, #003346 28%, #004b5b 40%, #00646c 49%, #077e76 65%, #36977c 75%, #63b07e 88%, #7bbc7e);*//*transform-style: preserve-3d;*//*box-shadow: 0px 0px;*/transform: perspective(0px) scale(1);background: repeating-linear-gradient(180deg, #001122, #011c2e 7%, #003346 21%, #004b5b 40%, #00646c 49%, #077e76 65%, #36977c 75%, #63b07e 88%, #7bbc7e) fixed;transform-style: preserve-3d;box-shadow: 0px 0px;height: 100%;">
<div></div>
<header style="font-size: 32px;padding-bottom: 50px;">
    <nav class="navbar navbar-light navbar-expand-md sticky-top navigation-clean-button fixed;" style="height: auto;color: #ffffff;background: #001122;">
        <div class="container-fluid">
            <div id="navcol-1" class="collapse navbar-collapse justify-content-center">
                <h1 style="font-size: 18px;color: white;width: auto;text-align: center;"><strong>RePsychle is currently in development. Please provide your feedback to </strong><a href="mailto:wyattkirschneronline@gmail.com"><strong>repsychle.beta@wkirschn.ca</strong></a></h1>
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-light navbar-expand-md sticky-top navigation-clean-button fixed; fixed-top; logged-out;" style="height: 100px;color: #ffffff;background: rgba(255,255,255,0);border-color: #66d7d7;border-bottom-style: none;">
        <div class="container-fluid"><a class="navbar-brand justify-content-center" data-bs-toggle="tooltip" href="#" style="margin: 30px;height: 100%;width: 122px;transform: perspective(0px) rotate(0deg) scale(0.88) skew(0deg);transform-origin: center;"><img class="justify-content-center rounded-3" src="/images/logo/repsychle_logo 1 shadow.png" style="width: 160px;height: auto;text-align: center;/*transform: perspective(0px) scale(1);*//*transform-style: preserve-3d;*/transform: perspective(0px) scale(1);transform-style: preserve-3d;height: 100%;padding: 10px;margin-right: 100px;" /></a><button class="navbar-toggler navbar-dark" data-bs-toggle="collapse" data-bs-target="#navcol-3"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon" style="box-shadow: 0px 0px;"></span></button>
            <div id="navcol-3" class="collapse navbar-collapse justify-content-center rounded-3" style="text-align: center;/*transform: perspective(0px) scale(1);*//*background: linear-gradient(170deg, #001122, #011c2e 14%, #003346 28%, #004b5b 40%, #00646c 49%, #077e76 65%, #36977c 75%, #63b07e 88%, #7bbc7e);*//*transform-style: preserve-3d;*//*box-shadow: 0px 0px;*/transform: perspective(0px) scale(1);background: linear-gradient(145deg, #7bbc7e 44%, #36977c 56%, #63b07e 71%, #077e76 79%, #00646c 96%) fixed;transform-style: preserve-3d;box-shadow: 0px 0px;height: 100%;"><a class="nav-link nav-pills rounded-pill justify-content-center" style="color: #ffffff;margin: 15px;padding-right: 25px;width: auto;font-size: 14px;" href="#"><i class="fa fa-newspaper-o"></i> Blog</a><input type="search" style="margin: 15px;padding-right: 50px;padding-left: 50px;height: 25px;" />
                <div class="btn-group" style="padding-top: 10px;padding-right: 10px;padding-bottom: 10px;padding-left: 10px;"><a id="navbarSearch-1" class="btn btn-primary dropdown-toggle doprdown-toggle-split rounded-pill justify-content-center" href="#" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 14px;padding-right: 10px;padding-bottom: 0px;padding-top: 0px;padding-left: 10px;">Search Database<span class="visually-hidden" content>Button Group</span></a>
                    <ul class="dropdown-menu" aria-labelledby="navbarSearch">
                        <li class="dropdown-item" href="#">Recycling</li>
                        <li class="dropdown-item" href="#">Garbage</li>
                        <li class="dropdown-item" href="#">Compost</li>
                        <li class="dropdown-item" href="#">Hazardous</li>
                    </ul>
                </div>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link active nav-pills rounded-pill justify-content-center" style="color: #ffffff;font-size: 14px;" href="#"><i class="fas fa-exclamation-circle"></i> More</a></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link active modal-trigger" style="color: #ffffff;font-size: 14px;" href="#" data-target="modal-login"><i class="fa fa-sign-in"></i> Sign In</a></li>
                    <li class="nav-item"><a class="nav-link active modal-trigger" style="color: #ffffff;font-size: 14px;" href="about.html" data-target="modal-signup"><i class="fa fa-user-circle-o"></i> Sign-Up</a></li>
                    <li class="nav-item"></li>
                </ul>
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-light navbar-expand-md sticky-top navigation-clean-button fixed; fixed-top; logged-in;" style="height: 100px;color: #ffffff;background: rgba(255,255,255,0);border-color: #66d7d7;border-bottom-style: none;">
        <div class="container-fluid"><a class="navbar-brand justify-content-center" data-bs-toggle="tooltip" href="#" style="margin: 30px;height: 100%;width: 122px;transform: perspective(0px) rotate(0deg) scale(0.88) skew(0deg);transform-origin: center;"><img class="justify-content-center rounded-3" src="/images/logo/repsychle_logo 1 shadow.png" style="width: 160px;height: auto;text-align: center;/*transform: perspective(0px) scale(1);*//*transform-style: preserve-3d;*/transform: perspective(0px) scale(1);transform-style: preserve-3d;height: 100%;padding: 10px;margin-right: 100px;" /></a><button class="navbar-toggler navbar-dark" data-bs-toggle="collapse" data-bs-target="#navcol-2"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon" style="box-shadow: 0px 0px;"></span></button>
            <div id="navcol-2" class="collapse navbar-collapse justify-content-center rounded-3" style="text-align: center;/*transform: perspective(0px) scale(1);*//*background: linear-gradient(170deg, #001122, #011c2e 14%, #003346 28%, #004b5b 40%, #00646c 49%, #077e76 65%, #36977c 75%, #63b07e 88%, #7bbc7e);*//*transform-style: preserve-3d;*//*box-shadow: 0px 0px;*/transform: perspective(0px) scale(1);background: linear-gradient(145deg, #7bbc7e 44%, #36977c 56%, #63b07e 71%, #077e76 79%, #00646c 96%) fixed;transform-style: preserve-3d;box-shadow: 0px 0px;height: 100%;"><a class="nav-link nav-pills rounded-pill justify-content-center" style="color: #ffffff;margin: 15px;padding-right: 25px;width: auto;font-size: 14px;" href="#"><i class="fa fa-newspaper-o"></i> Blog</a><input type="search" style="margin: 15px;padding-right: 50px;padding-left: 50px;height: 25px;" />
                <div class="btn-group" style="padding-top: 10px;padding-right: 10px;padding-bottom: 10px;padding-left: 10px;"><a id="navbarSearch-2" class="btn btn-primary dropdown-toggle doprdown-toggle-split rounded-pill justify-content-center" href="#" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 14px;padding-right: 10px;padding-bottom: 0px;padding-top: 0px;padding-left: 10px;">Search Database<span class="visually-hidden" content>Button Group</span></a>
                    <ul class="dropdown-menu" aria-labelledby="navbarSearch">
                        <li class="dropdown-item" href="#">Recycling</li>
                        <li class="dropdown-item" href="#">Garbage</li>
                        <li class="dropdown-item" href="#">Compost</li>
                        <li class="dropdown-item" href="#">Hazardous</li>
                    </ul>
                </div>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link active nav-pills rounded-pill justify-content-center modal-trigger" style="color: #ffffff;font-size: 14px;" href="#" data-target="modal-create"><i class="fas fa-cloud-upload-alt"></i> Create</a></li>
                    <li class="nav-item"><a class="nav-link active nav-pills rounded-pill justify-content-center" style="color: #ffffff;font-size: 14px;" href="#"><i class="fas fa-exclamation-circle"></i> More</a></li>
                    <li class="nav-item"><a id="logout" class="nav-link active" style="color: #ffffff;font-size: 14px;" href="#"><i class="fa fa-sign-out"></i> Sign Out</a></li>
                    <li class="nav-item"><a class="nav-link active modal-trigger" style="color: #ffffff;font-size: 14px;" href="about.html" data-target="modal-account"><i class="fa fa-user-circle-o"></i> AVATAR</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container text-center" style="background: rgba(123,188,126,0.2);margin-top: 50px;margin-bottom: 50px;">
    <div class="row text-center justify-content-center align-items-center" style="margin: 12px;padding: 12px;width: 100%;margin-bottom: 12px;" onclick="return true">
        <div class="col-md-8 text-center" style="text-align: center;padding: 12px;">
            <div class="text-center box rounded-3" style="text-align: center;/*transform: perspective(0px) scale(1);*//*transform-style: preserve-3d;*//*box-shadow: 0px 0px;*/transform: perspective(0px) scale(1);transform-style: preserve-3d;box-shadow: 0px 0px;height: 100%;width: 100%;padding: 10px;padding-bottom: 10px;background: rgba(40,45,50,0.2);"><i class="fab fa-wpforms icon" style="box-shadow: 0px 0px;color: #7BBC7E;height: 100px;width: 100px;margin-bottom: 16px;border-color: #545454;font-size: 100px;text-align: center;"></i>
                <h1 class="name" style="color: white;font-size: 34px;text-align: center;"><img src="/images/logo/repsychle_logo 1 shadow.png" style="width: 350px;padding-top: 25px;padding-bottom: 25px;" /><br /></h1>



                <div>

                    <h1 style="font-size: 34px;text-align: center;color: rgb(255,255,255);">Registration</h1>
                    <nav id="signup-nav" class="container">

                        <form class="needs-validation" id="signup-form" novalidate>
                            <div class="mb-3" for="firstName" style="text-align: left;"><label class="form-label text-start" for="firstName" style="color: white;font-size: 24px;text-align: left;">First Name</label><input id="firstName" class="form-control" type="text" required aria-describedby="nameHelp" style="margin-bottom: 50px;margin-top: 50px;" placeholder="Please Enter Your First Name" />
                                <div class="valid-feedback">
                                    <h1 style="color: #7BBC7E;font-size: 24px;text-align: center;">Acceptable <em>First Name.</em></h1>
                                </div>
                                <div class="invalid-feedback">
                                    <h1 style="color: var(--bs-orange);font-size: 24px;text-align: center;">Sorry, please enter a valid <em>First Name</em>.</h1>
                                </div>
                            </div>
                            <div class="mb-3" for="lastName" style="text-align: left;"><label class="form-label text-start" for="lastName" style="color: white;font-size: 24px;text-align: left;">Last Name</label><input id="lastName" class="form-control" type="text" required aria-describedby="nameHelp" style="margin-bottom: 50px;margin-top: 50px;" placeholder="Please Enter Your Last Name" />
                                <div class="valid-feedback">
                                    <h1 style="color: #7BBC7E;font-size: 24px;text-align: center;">Acceptable <em>Last Name.</em></h1>
                                </div>
                                <div class="invalid-feedback">
                                    <h1 style="color: var(--bs-orange);font-size: 24px;text-align: center;">Sorry, please enter a valid <em>Last Name</em>.</h1>
                                </div>
                            </div>
                            <div class="mb-3" for="emailAddress" style="text-align: left;"><label class="form-label text-start" for="emailAddress" style="color: white;font-size: 24px;text-align: left;">Email Address</label><input id="emailAddress" class="form-control" type="email" required aria-describedby="emailHelp" style="margin-bottom: 50px;margin-top: 50px;" placeholder="Please Enter Your Email Address" />
                                <div class="valid-feedback">
                                    <h1 style="color: #7BBC7E;font-size: 24px;text-align: center;">Acceptable <em>Email Address.</em></h1>
                                </div>
                                <div class="invalid-feedback">
                                    <h1 style="color: var(--bs-orange);font-size: 24px;text-align: center;">Sorry, please enter a valid <em>Email Address</em>.</h1>
                                </div>
                            </div>
                            <div class="mb-3" for="confirmEmailAddress" style="text-align: left;"><label class="form-label text-start" for="emailAddressConfirm" style="color: white;font-size: 24px;text-align: left;">Confirm Email Address</label><input id="emailAddressConfirm" class="form-control" type="email" required aria-describedby="emailHelp" style="margin-bottom: 50px;margin-top: 50px;" placeholder="Please Re-Enter the Same Email Address" />
                                <div class="valid-feedback">
                                    <h1 style="color: #7BBC7E;font-size: 24px;text-align: center;">Acceptable <em>Email Address.</em></h1>
                                </div>
                                <div class="invalid-feedback">
                                    <h1 style="color: var(--bs-orange);font-size: 24px;text-align: center;">Sorry, please enter a valid <em>Email Address</em>.</h1>
                                </div>
                            </div>
                            <div class="mb-3" for="password" style="text-align: left;"><label class="form-label text-start" for="password" style="color: white;font-size: 24px;text-align: left;">Please Enter a Password</label><input id="password" class="form-control" type="password" required aria-describedby="passwordHelp" style="margin-bottom: 50px;margin-top: 50px;" placeholder="Please Enter a Password" />
                                <div class="valid-feedback">
                                    <h1 style="color: #7BBC7E;font-size: 24px;text-align: center;">Acceptable <em>Password.</em></h1>
                                </div>
                                <div class="invalid-feedback">
                                    <h1 style="color: var(--bs-orange);font-size: 24px;text-align: center;">Sorry, please enter a valid <em>Password.</em></h1>
                                </div>
                            </div>
                            <div class="mb-3" for="passwordConfirm" style="text-align: left;"><label class="form-label text-start" for="passwordConfirm" style="color: white;font-size: 24px;text-align: left;">Please Confirm Your Password</label><input id="passwordConfirm" class="form-control" type="password" required aria-describedby="passwordHelp" style="margin-bottom: 50px;margin-top: 50px;" placeholder="Please Re-Enter the Same Password" />
                                <div class="valid-feedback">
                                    <h1 style="color: #7BBC7E;font-size: 24px;text-align: center;">Acceptable <em>Password.</em></h1>
                                </div>
                                <div class="invalid-feedback">
                                    <h1 style="color: var(--bs-orange);font-size: 24px;text-align: center;">Sorry, please enter a valid <em>Password.</em></h1>
                                </div>
                            </div>


                            <div class="btn-group" role="group"><button class="btn btn-primary" type="submit" style="background: #7BBC7E;border-style: double;border-color: #7BBC7E;box-shadow: 0px 0px, 0px 0px;">Sign Me Up!</button></div>

                            <script>

                                // Import the functions you need from the SDKs you need
                                import { initializeApp } from "https://www.gstatic.com/firebasejs/9.6.9/firebase-app.js";
                                import { initializeApp } from "https://www.gstatic.com/firebasejs/9.6.9/firebase-auth.js";
                                import { initializeApp, getFirestore, collection, getDocs } from "https://www.gstatic.com/firebasejs/9.6.9/firebase-firestore.js";
                                import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.6.9/firebase-analytics.js";
                                import firebase from "firebase/compat";
                                // TODO: Add SDKs for Firebase products that you want to use
                                // https://firebase.google.com/docs/web/setup#available-libraries

                                // Your web app's Firebase configuration
                                // For Firebase JS SDK v7.20.0 and later, measurementId is optional
                                const firebaseConfig = {
                                    apiKey: "AIzaSyCVIOy2sBWdHFPTI6L2ZLtGBhToXBxd32Y",
                                    authDomain: "repsychle-website.firebaseapp.com",
                                    projectId: "repsychle-website",
                                    storageBucket: "repsychle-website.appspot.com",
                                    messagingSenderId: "11513955707",
                                    appId: "1:11513955707:web:c9f1c402c07821461e29de",
                                    measurementId: "G-KEBDJE6LS8"
                                };

                                // Initialize Firebase
                                const app = initializeApp(firebaseConfig);
                                const analytics = getAnalytics(app);
                                const db_firestore = getFirestore(app);


                                // Make auth and Firestore References

                                const auth = firebase.auth();
                                const db = firebase.firestore();

                                // Update Firestore Settings

                                db.settings({timestampsInSnapshots : true})




                            </script>

                            <script src="/javascripts/auth.js"></script>
                        </form>
                        <script>




                            (function () {




                                'use strict'
                                console.log("Heard!");

                                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                                var forms = document.querySelectorAll('.needs-validation')

                                // Loop over them and prevent submission
                                Array.prototype.slice.call(forms)
                                        .forEach(function (form) {
                                            form.addEventListener('submit', function (event) {
                                                if (!form.checkValidity()) {
                                                    event.preventDefault()
                                                    event.stopPropagation()


                                                }




                                                form.classList.add('was-validated')


                                            }, false)
                                        })


                            })()


                        </script>

                    </nav>


                </div>



            </div>


            <div>
                <div class="form-check text-center" style="margin-top: 25px;text-align: center;"><input id="contact_checkbox" class="form-check-input" type="checkbox" style="margin-top: 15px;padding: 5px;" value="agree_contact_true" /><label id="contact_checkbox1" class="form-check-label" for="contact_checkbox" style="color: white;font-size: 16px;text-align: center;margin-top: 0px;">I agree that by using this Contact Form, I am aware that the provided information, content, and context of this form of communication may be monitored by the Owner of RePsychle for malice.</label></div>
            </div>


        </div>
        <div class="col-md-4 text-center" style="background: rgba(40,45,50,0.2);">
            <div class="text-center box rounded-3" style="text-align: center;/*transform: perspective(0px) scale(1);*//*transform-style: preserve-3d;*//*box-shadow: 0px 0px;*/transform: perspective(0px) scale(1);transform-style: preserve-3d;box-shadow: 0px 0px;height: 100%;width: 100%;padding: 50px;"><svg class="bi bi-question-square text-center icon" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" style="box-shadow: 0px 0px;color: #7BBC7E;height: 100px;width: 100px;margin-bottom: 16px;">
                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"></path>
                <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"></path>
            </svg>
                <h1 class="text-center name" style="color: white;font-size: 34px;text-align: center;">Have <em>any</em> questions about us? Let us know! </h1>
                <p class="text-center description" style="color: white;font-size: 28px;text-align: center;margin-top: 16px;">At RePsychle, we are curious to know the interest in a project such as this.<br /><br />No matter the nature or the validity of the question, we would love to help answer them.<br /><br />Please refer to our <em>Frequently Asked Questions </em>page located either in the Header, Footer, or click here.<br /><br />You can also contact us using the form provided below.<br /><br />Thank you!<br /><img src="/images/logo/repsychle_logo 1 shadow.png" style="width: 150px;padding-top: 25px;padding-bottom: 25px;" /><br /><br /></p>
            </div>
        </div>
    </div>
</div>
<div class="row" style="text-align: center;background: rgba(40,45,50,0.8);padding: 5px;padding-top: 5px;">
    <div class="col-md-12" style="padding: 25px;padding-top: 25px;text-align: center;"><i class="fas fa-recycle text-center icon" style="box-shadow: 0px 0px;color: #7bbc7e;width: 75px;height: 75px;font-size: 78px;text-align: center;"></i>
        <div class="box rounded-3" style="text-align: center;/*transform: perspective(0px) scale(1);*//*transform-style: preserve-3d;*//*box-shadow: 0px 0px;*/transform: perspective(0px) scale(1);transform-style: preserve-3d;box-shadow: 0px 0px;height: 100%;width: 100%;padding: 25px;margin: 0 auto;">
            <h1 class="name" style="color: white;font-size: 32px;">Join our Email List</h1><img src="/images/logo/repsychle_logo 1 shadow.png" style="width: 150px;padding-top: 25px;padding-bottom: 25px;" />
            <p class="description" style="color: white;font-size: 24px;">To learn more about the RePsychling Revolution, join our Newsletter!<br /></p>
            <form class="search-form justify-content-center form-group form-horizontal" style="text-align: center;margin: auto;padding: 0px;height: auto;width: 50%;background: #00000000;margin-bottom: 25px;">
                <div class="input-group" style="width: 100%;text-align: center;height: auto;margin: auto;"><span class="input-group-text"><i class="fa fa-envelope-o"></i></span><input class="form-control" type="text" placeholder="Subscribe to our Newsletter" style="margin-bottom: 0px;" /></div>
            </form><button class="btn btn-light" type="button">Subscribe</button>
        </div>
    </div>
</div>
<footer class="footer-dark" style="background: rgb(40, 45, 50);">


    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3 item">
                <h3 style="color: #7BBC7E;">RePsychle Database</h3>
                <ul>
                    <li><a href="#">Garbage</a></li>
                    <li><a href="#">Recycling</a></li>
                    <li><a href="#">Compost</a></li>
                    <li><a href="#">Hazardous</a></li>
                    <li><a href="#">All</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3 item">
                <h3 style="color: #7BBC7E;">About</h3>
                <ul>
                    <li><a href="#">About RePsychle</a></li>
                    <li>Frequently Asked Questions</li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-md-6 item text">
                <h3><img src="/images/logo/repsychle_logo 1 shadow.png" style="width: 200px;" /></h3>
                <p>RePsychle is not responsible for any information placed into this website. During this Beta, we will be testing various features to make this a functional set of features to help with your recycling needs. Thank you for being patient with us!</p>
            </div>
            <div class="col item social" style="margin-top: 25px;padding-top: 25px;"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
        </div>
        <p class="copyright">Wyatt Kirschner © 2022</p>
    </div>
</footer>




</body>

</html>

-->

<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hello, world!</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
</head>
<body>
<h1>Hello, world!</h1>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>

<div>

    <h1 style="font-size: 34px;text-align: center;color: rgb(255,255,255);">Registration</h1>
    <nav id="signup-nav" class="container">

        <form class="needs-validation" id="signup-form" novalidate>

            <div class="mb-3" for="emailAddress" style="text-align: left;"><label class="form-label text-start" for="emailAddress" style="color: white;font-size: 24px;text-align: left;">Email Address</label><input id="emailAddress" class="form-control" type="email" required aria-describedby="emailHelp" style="margin-bottom: 50px;margin-top: 50px;" placeholder="Please Enter Your Email Address" />
                <div class="valid-feedback">
                    <h1 style="color: #7BBC7E;font-size: 24px;text-align: center;">Acceptable <em>Email Address.</em></h1>
                </div>
                <div class="invalid-feedback">
                    <h1 style="color: var(--bs-orange);font-size: 24px;text-align: center;">Sorry, please enter a valid <em>Email Address</em>.</h1>
                </div>
            </div>

            <div class="mb-3" for="password" style="text-align: left;"><label class="form-label text-start" for="password" style="color: white;font-size: 24px;text-align: left;">Please Enter a Password</label><input id="password" class="form-control" type="password" required aria-describedby="passwordHelp" style="margin-bottom: 50px;margin-top: 50px;" placeholder="Please Enter a Password" />
                <div class="valid-feedback">
                    <h1 style="color: #7BBC7E;font-size: 24px;text-align: center;">Acceptable <em>Password.</em></h1>
                </div>
                <div class="invalid-feedback">
                    <h1 style="color: var(--bs-orange);font-size: 24px;text-align: center;">Sorry, please enter a valid <em>Password.</em></h1>
                </div>
            </div>



            <div class="btn-group" role="group"><button class="btn btn-primary" style="background: #7BBC7E;border-style: double;border-color: #7BBC7E;box-shadow: 0px 0px, 0px 0px;">Sign Me Up!</button></div>

            <script>

                // Import the functions you need from the SDKs you need
                import { initializeApp } from "https://www.gstatic.com/firebasejs/9.6.9/firebase-app.js";
                import { initializeApp } from "https://www.gstatic.com/firebasejs/9.6.9/firebase-auth.js";
                import { initializeApp, getFirestore, collection, getDocs } from "https://www.gstatic.com/firebasejs/9.6.9/firebase-firestore.js";
                import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.6.9/firebase-analytics.js";
                import firebase from "firebase/compat";
                // TODO: Add SDKs for Firebase products that you want to use
                // https://firebase.google.com/docs/web/setup#available-libraries

                // Your web app's Firebase configuration
                // For Firebase JS SDK v7.20.0 and later, measurementId is optional
                const firebaseConfig = {
                    apiKey: "AIzaSyCVIOy2sBWdHFPTI6L2ZLtGBhToXBxd32Y",
                    authDomain: "repsychle-website.firebaseapp.com",
                    projectId: "repsychle-website",
                    storageBucket: "repsychle-website.appspot.com",
                    messagingSenderId: "11513955707",
                    appId: "1:11513955707:web:c9f1c402c07821461e29de",
                    measurementId: "G-KEBDJE6LS8"
                };

                // Initialize Firebase
                const app = initializeApp(firebaseConfig);
                const analytics = getAnalytics(app);
                const db_firestore = getFirestore(app);


                // Make auth and Firestore References

                const auth = firebase.auth();
                const db = firebase.firestore();

                // Update Firestore Settings

                db.settings({timestampsInSnapshots : true})


                // Import the functions you need from the SDKs you need
                import { initializeApp } from "https://www.gstatic.com/firebasejs/9.6.10/firebase-app.js";
                import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.6.10/firebase-analytics.js";
                // TODO: Add SDKs for Firebase products that you want to use
                // https://firebase.google.com/docs/web/setup#available-libraries

                // Your web app's Firebase configuration
                // For Firebase JS SDK v7.20.0 and later, measurementId is optional
                const firebaseConfig = {
                    apiKey: "AIzaSyCVIOy2sBWdHFPTI6L2ZLtGBhToXBxd32Y",
                    authDomain: "repsychle-website.firebaseapp.com",
                    projectId: "repsychle-website",
                    storageBucket: "repsychle-website.appspot.com",
                    messagingSenderId: "11513955707",
                    appId: "1:11513955707:web:c9f1c402c07821461e29de",
                    measurementId: "G-KEBDJE6LS8"
                };

                // Initialize Firebase
                const app = initializeApp(firebaseConfig);
                const analytics = getAnalytics(app);

                // Make auth and Firestore References

                const auth = firebase.auth();
                const db = firebase.firestore();

                // Update Firestore Settings

                db.settings({timestampsInSnapshots : true})



                // Signup JavaScript
                console.log("Register Click");
                const signupForm = document.querySelector('#signup-form');
                signupForm.addEventListener('submit', (e) =>{

                    const auth = firebase.auth();
                    const db = firebase.firestore();

                    e.preventDefault();
                    // First we need to set the variables and have the values for each input placed in their respective place
                    const firstName = signupForm['firstName'].value;
                    const lastName = signupForm['lastName'].value;
                    const emailAddress = signupForm['emailAddress'].value;
                    const emailAddressConfirm = signupForm['emailAddressConfirm'].value;
                    const password = signupForm['password'].value;
                    const passwordConfirm = signupForm['passwordConfirm'].value;

                    // This is to test to see if we can log each one!

                    console.log("First Name is: " + firstName);
                    console.log("Last Name is: " + lastName);
                    console.log("Email Address is: " + emailAddress);
                    console.log("Repeat Email Address is: " + emailAddressConfirm);
                    console.log("Password is: " + password);
                    console.log("Password Confirm is: " + passwordConfirm);

                    // Now, we need to validate to see if the values are valid

                    if(password == passwordConfirm && (password.length > 7 && passwordConfirm.length > 7)) {
                        console.log("Woah!");
                    }
                    auth.createUserWithEmailAndPassword(emailAddress, password).then(function () {

                        window.location.replace('/test');
                    }).catch(function (error) {
                        //Errors

                        var errorCode = error.code;
                        var errorMessage = error.message;
                        console.log(errorCode);
                        console.log(errorMessage);
                    })
                })


            </script>

            <script src="/javascripts/auth.js"></script>
        </form>


   &lt;!&ndash;     <script>




            (function () {




                'use strict'
                console.log("Heard!");

                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.querySelectorAll('.needs-validation')

                // Loop over them and prevent submission
                Array.prototype.slice.call(forms)
                        .forEach(function (form) {
                            form.addEventListener('submit', function (event) {
                                if (!form.checkValidity()) {
                                    event.preventDefault()
                                    event.stopPropagation()


                                }




                                form.classList.add('was-validated')


                            }, false)
                        })


            })()


        </script>&ndash;&gt;

    </nav>


</div>


</body>







<script type="module">
    // Import the functions you need from the SDKs you need
    import { initializeApp } from "https://www.gstatic.com/firebasejs/9.6.10/firebase-app.js";
    import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.6.10/firebase-analytics.js";
    // TODO: Add SDKs for Firebase products that you want to use
    // https://firebase.google.com/docs/web/setup#available-libraries

    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    const firebaseConfig = {
        apiKey: "AIzaSyCVIOy2sBWdHFPTI6L2ZLtGBhToXBxd32Y",
        authDomain: "repsychle-website.firebaseapp.com",
        projectId: "repsychle-website",
        storageBucket: "repsychle-website.appspot.com",
        messagingSenderId: "11513955707",
        appId: "1:11513955707:web:c9f1c402c07821461e29de",
        measurementId: "G-KEBDJE6LS8"
    };

    // Initialize Firebase
    const app = initializeApp(firebaseConfig);
    const analytics = getAnalytics(app);
</script>
</html>-->

<!--
Source: https://www.youtube.com/watch?v=9zdvmgGsww0&list=PL4cUxeGkcC9jERUGvbudErNCeSZHWUVlb
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hello, world!</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
</head>
<body>
<h1>Register</h1>


{{> messages}}

<form action="/auth/register" method="POST">

<div class="form-group">
    <label for="username">Email Address</label>
    <input type="text" class="form-control" id="username" name="username" required>
</div>
    <div class="form-group">
    <label for="name">Password</label>
    <input type="password" class="form-control" id="password" name="password" required>
    </div>
    <button class="btn btn-primary" type="submit">Register</button>
</form>
<p>Or you can
<a href="/auth/login">Login</a> if you already have an account</p>













<script src="../javascripts/bundle.js"></script>
</body>
</html>
